<div class="w-full">
  <h3 class="text-green">Mes commandes</h3>
      <div class="">
        {% paginate customer.orders by 20 %}
          {%- if customer.orders.size > 0 -%}
            <div class="bg-gray-100 rounded-lg mt-6 mb-8"> 
              <div class="px-5 pt-5 md:px-10">     
                <table class="w-full border-b border-gray-200">
                      <thead>
                          <tr class="">
                            <th class="py-4 text-left w-3/5 md:w-2/5" width="40">   
                             <p class="text-gray-600 text-base font-bold text-left">Commande n°</p>
                            </th>
                            <th class="py-4 text-center w-1/5" width="20">
                            <p class="text-gray-600 text-base font-bold text-center">Date</p>
                            </th>
                            <th class="py-4 text-center w-1/5 hidden md:table-cell" width="20">
                            <p class="text-gray-600 text-base font-bold text-center">Total</p>
                            </th>
                            <th class="py-4 text-right w-1/5" width="20">
                              <p class="text-gray-600 text-base font-bold text-center"></p>
                            </th>
                          </tr>
                        </thead>
                  </table>
                </div>    
             <accordion-group data-orders class="accordion-orders">
              {%- for order in customer.orders limit:{{ orders_limit }}-%}
                <accordion-element class="">
                  <accordion-trigger class="group">
                    <accordion-header class="py-5 px-5 md:px-10">   
                      <table class="w-full">
                        <thead>
                          <tr class="">
                            <th class="py-4 text-left w-3/5 md:w-2/5" width="40">   
                            <p class="text-sm text-left">{{ order.name }}</p>
                            </th>
                            <th class="py-4 text-center w-1/5" width="20">
                            {% assign date = order.created_at | date: "%d/%m/%y" %}
                             <p class="text-sm text-center">{{ date }}</p>
                            </th>
                            <th class="py-4 text-center w-1/5 hidden md:table-cell" width="20">
                            {% assign total = order.total_price | money %}
                              <p class="text-sm text-center">{{ total }}</p>
                            </th>
                            <th class="py-4 text-right w-1/5" width="20">
                              <accordion-icon class="ml-auto transition-all origin-center h-[fit-content]">
                                <span class="block underline text-sm">Voir</span>
                              </accordion-icon>
                            </th>
                          </tr>
                        </thead>
                      </table>
                    </accordion-header>
                  </accordion-trigger>
                  <accordion-content>
                    <div class="px-5 md:px-10 pb-5">
                      <table class="w-full">
                        <thead>
                          <tr class="font-bold text-sm text-gray-600">
                            <th class="py-4 text-left w-3/5 md:w-2/5" width="40">{{ 'customer.orders.head_products' | t }}</th>
                            <th class="py-4 text-center w-1/5" width="20">
                              <span class="hidden md:block">{{ 'customer.orders.head_quantity' | t }}</span>
                              <span class="md:hidden">{{ 'customer.orders.head_qty' | t }}</span></th>
                            </th>
                            <th class="py-4 text-center w-1/5 hidden md:table-cell" width="20">
                              <span>{{ 'customer.orders.head_unit_price' | t }}</span>
                            </th>
                            <th class="py-4 text-right w-1/5" width="20">
                              <span class="hidden md:block">{{ 'customer.orders.head_total_price' | t }}</span>
                              <span class="md:hidden">{{ 'customer.orders.head_price' | t }}</span></th>
                          </tr>
                        </thead>
                        <tbody>
                          {%- for line_item in order.line_items -%}
                            <tr class="border-b border-sable border-solid">
                              <td class="py-4 w-3/5 md:w-2/5" width="40">
                                {% if line_item.image %}
                                  <a href="{{ line_item.product.url }}" class="flex flex-row gap-4">
                                    <img src="{{ line_item.image | image_url: width: 300 }}"
                                      class="w-16 object-cover"
                                      alt="{{ line_item.image.alt | escape }}"
                                      loading="lazy"
                                      width="150"
                                      height="{{ 150 | divided_by: line_item.image.aspect_ratio | ceil }}">
                                    <div class="flex-1 flex-col">
                                      <p class="text-sm font-extrabold">{{ line_item.product.title | strip_html }}</p>
                                      <p class="text-sm uppercase">{{ 'customer.orders.sku' | t: sku: line_item.product.sku }}</p>
                                    </div>
                                  </a>
                                {% endif %}
                              </td>
                              <td class="py-4 text-center text-sm w-1/5" width="20">
                                <p>{{ line_item.quantity }}</p>
                              </td>
                              <td class="py-4 text-center text-sm hidden w-1/5 md:table-cell" width="20">
                                {%- if line_item.original_price != line_item.final_price -%}
                                  <span class="line-through font-light w-full block opacity-50">{{ line_item.original_price | money }}</span>
                                  <span class="text-capucine font-extrabold w-full block">{{ line_item.final_price | money }}</span>
                                {% else %}
                                  <span class="font-extrabold">{{ line_item.final_price | money }}</span>
                                {% endif %}
                              </td>
                              <td class="py-4 text-right text-sm w-1/5" width="20">
                                {%- if line_item.original_line_price != line_item.final_line_price -%}
                                  <span class="line-through font-light w-full block opacity-50">{{ line_item.original_line_price | money }}</span>
                                  <span class="text-capucine font-extrabold w-full block">{{ line_item.final_line_price | money }}</span>
                                {% else %}
                                  <span class="font-extrabold">{{ line_item.final_line_price | money }}</span>
                                {% endif %}
                              </td>
                            </tr>
                          {%- endfor -%}
                        </tbody>
                        <tfoot class="text-sm">
                          {% for discount in order.cart_level_discount_applications %}
                            <tr>
                              <td class="py-2" colspan="2">
                                <span>{{ 'customer.orders.discount' | t: discount: discount.title }}</span>
                              </td>
                              <td class="py-2 text-right" colspan="2">-{{ discount.total_allocated_amount | money }}</td>
                            </tr>
                          {% endfor %}
                          {% for shipping_method in order.shipping_methods %}
                            <tr>
                              <td class="py-2" colspan="2">{{ 'customer.orders.shipping' | t: shipping: shipping_method.title }}</td>
                              <td class="py-2 text-right" colspan="2">{{ shipping_method.price | money }}</td>
                            </tr>
                          {% endfor %}
                          <tr class="font-bold uppercase">
                            <td class="py-2" colspan="2">
                              {{ 'customer.orders.total' | t }}
                            </td>
                            <td class="text-right py-2" colspan="2">
                              {{ order.total_price | money }}
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                      {% comment %} <div class="w-full flex flex-col md:flex-row gap-5 text-sm mt-5">
                        <div class="h-full p-0 flex flex-col w-full md:w-1/2 border-sable border-solid border p-[25px] rounded-sm">
                          <p class="font-bold">{{ 'customer.orders.shipping_address' | t }}</p>
                          <div class="mt-2">
                            {{ order.shipping_address | format_address }}
                          </div>
                        </div>
                        <div class="h-full p-0 flex flex-col w-full md:w-1/2 border-sable border-solid border p-[25px] rounded-sm">
                          <p class="font-bold">{{ 'customer.orders.billing_address' | t }}</p>
                          <div class="mt-2">
                            {{ order.billing_address | format_address }}
                          </div>
                        </div>
                      </div> {% endcomment %}
                    </div>
                  </accordion-content>
                  {% comment %} <div class="px-3 pt-4 pb-6 flex flex-row gap-8 md:hidden">
                    <a href="{{ order.order_status_url }}" class="underline text-sm">
                      {{ 'customer.orders.tracking' | t }}
                    </a>
                    <a href="https://lequipe-jolly-mama.gorgias.help/fr-FR" class="underline text-sm">
                      {{ 'customer.orders.help' | t }}
                    </a>
                  </div> {% endcomment %}
                </accordion-element>
              {%- endfor -%}
            </accordion-group> 
            </div>
          {%- else -%}
            <div class="text-center py-10 bg-white rounded-lg">
              <p class="text-base">{{ 'customer.orders.none' | t }}</p>
            </div>
          {%- endif -%}

          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate %}
          {%- endif -%}
        {% endpaginate %}
    </div>
</div>

<style>
  .accordion-orders accordion-element[data-open = true] {
    background-color: #FAFAFA;
  }
</style>