<div data-customer-addresses>


  <h3 class="text-green">Carnet d’adresses</h3>
  <ul role="list">
    {%- for address in customer.addresses limit: 1 -%}
      <li data-address>
        <div class="mb-5 p-5 bg-white rounded-lg shadow-lg">
          <p class="text-sm font-bold mb-4">Informations de contact</p>
          <div class="text-sm font-normal">
            {{ address | format_address }}
          </div>
        </div>


        <div
          id="EditAddress_{{ address.id }}"
          class="mb-10 p-5 bg-white rounded-lg addressMobile shadow-lg"
          style="display:none;">
          {%- form 'customer_address', address -%}

            <div class="flex flex-col md:flex-row md:mb-2">
              <div class="w-full md:w-1/2">
                <label for="AddressFirstName_{{ form.id }}" class="text-xs font-normal">Prénom</label>
                <input
                  type="text"
                  id="AddressFirstName_{{ form.id }}"
                  name="address[first_name]"
                  value="{{ form.first_name }}"
                  autocomplete="given-name"
                  placeholder="Prénom"
                  class="border-b border-black border-solid text-sm placeholder-black placeholder-opacity-20 pr-4 py-1 leading-[22px] w-full bg-transparent font-bold">
              </div>
              <div class="w-full md:w-1/2 md:ml-5">
                <label for="AddressLastName_{{ form.id }}" class="text-xs font-normal">Nom</label>
                <input
                  type="text"
                  id="AddressLastName_{{ form.id }}"
                  name="address[last_name]"
                  value="{{ form.last_name }}"
                  autocomplete="family-name"
                  placeholder="Nom"
                  class="border-b border-black border-solid text-sm placeholder-black placeholder-opacity-20 pr-4 py-1 leading-[22px] w-full bg-transparent font-bold">
              </div>
            </div>
            <div class="flex flex-col md:flex-row md:mb-2">
              <div class="w-full bg-transparent font-bold md:w-1/2">
                <label for="AddressAddress1_{{ form.id }}" class="text-xs font-normal">Adresse 1</label>
                <input
                  type="text"
                  id="AddressAddress1_{{ form.id }}"
                  name="address[address1]"
                  value="{{ form.address1 }}"
                  autocomplete="address-line1"
                  placeholder="Adresse 1"
                  class="border-b border-black border-solid text-sm placeholder-black placeholder-opacity-20 pr-4 py-1 leading-[22px] w-full bg-transparent font-bold">
              </div>

              <div class="w-full bg-transparent font-bold md:w-1/2 md:ml-5">
                <label for="AddressAddress2_{{ form.id }}" class="text-xs font-normal">Complément d’adresse (facultatif)</label>
                <input
                  type="text"
                  id="AddressAddress2_{{ form.id }}"
                  name="address[address2]"
                  value="{{ form.address2 }}"
                  autocomplete="address-line2"
                  placeholder="Adresse 2"
                  class="border-b border-black border-solid text-sm placeholder-black placeholder-opacity-20 pr-4 py-1 leading-[22px] w-full bg-transparent font-bold">
              </div>
            </div>
            <div class="flex flex-col md:flex-row md:mb-2">
              <div class="w-full bg-transparent font-bold md:w-1/2">
                <label for="AddressZip_{{ form.id }}" class="text-xs font-normal">Code postal</label>
                <input
                  type="text"
                  id="AddressZip_{{ form.id }}"
                  name="address[zip]"
                  value="{{ form.zip }}"
                  autocapitalize="characters"
                  autocomplete="postal-code"
                  placeholder="Code postal"
                  class="border-b border-black border-solid text-sm placeholder-black placeholder-opacity-20 pr-4 py-1 leading-[22px] w-full bg-transparent font-bold">
              </div>
              <div class="w-full bg-transparent font-bold md:w-1/2 md:ml-5">
                <label for="AddressCity_{{ form.id }}" class="text-xs font-normal">Ville</label>
                <input
                  type="text"
                  id="AddressCity_{{ form.id }}"
                  name="address[city]"
                  value="{{ form.city }}"
                  autocomplete="address-level2"
                  placeholder="Ville"
                  class="border-b border-black border-solid text-sm placeholder-black placeholder-opacity-20 pr-4 py-1 leading-[22px] w-full bg-transparent font-bold">
              </div>
            </div>
            <div class="flex flex-col md:flex-row md:mb-5">
              <div class="w-full md:w-1/2 h-max">
                <label for="AddressCountry_{{ form.id }}" class="text-xs">
                  Pays
                </label>
                <div class="h-max">
                  <select
                    id="AddressCountry_{{ form.id }}"
                    name="address[country]"
                    data-address-country-select
                    data-default="{{ form.country }}"
                    data-form-id="{{ form.id }}"
                    autocomplete="country"
                    class="border-b border-black border-solid text-sm placeholder-black placeholder-opacity-20 pr-4 py-1 leading-[22px] w-full bg-transparent font-bold">
                    {{ all_country_option_tags }}
                  </select>
                </div>
              </div>
              <div class="w-full md:w-1/2 md:ml-5">
                <label for="AddressPhone_{{ form.id }}" class="text-xs">Téléphone</label>
                <input
                  type="tel"
                  id="AddressPhone_{{ form.id }}"
                  name="address[phone]"
                  value="{{ form.phone }}"
                  autocomplete="tel"
                  placeholder="Téléphone"
                  class="border-b border-black border-solid text-sm placeholder-black placeholder-opacity-20 pr-4 py-1 leading-[22px] w-full bg-transparent font-bold">
              </div>
            </div>

            {% comment %}
              <div class="">
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{ form.id }}" class="text-xs">
              Définir comme adresse par défaut
              </label>
              </div>
            {% endcomment %}

            <div class="flex col-flex md:flex-row justify-end mt-8">
              <div class="md:w-1/2"></div>
              <!-- update button-->
              <button class="btn-primary md:ml-5 w-full md:w-1/2 {% render "button", size:"small", color:"sauge", fullWidth: true  %}">
                Enregistrer
              </button>

              {% comment %}
                <!-- delete button-->
                <button
                type="button"
                class="{% render "button", size:"small", color:"sauge", variation:"outlined", fullWidth: false  %}"
                aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                data-target="{{ address.url }}"
                data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                >
                SUPPRIMER L'ADRESSE
                </button>
              {% endcomment %}
            </div>
          {%- endform -%}
        </div>
      </li>
    {%- endfor -%}


    <button id="toggleBtnMobile" class="mx-auto {% render "button", size:"extralarge", color:"green", variation: "outlined"  %}">
      Modifier l'adresse
    </button>
  </ul>
</div>

<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }

  const toggleBtnMobile = document.querySelector("#toggleBtnMobile");
  const contentMobile = document.querySelector(".addressMobile");

  toggleBtnMobile.addEventListener("click", function() {
    if (content.style.display === "none") {
      contentMobile.style.display = "block";
      contentMobile.classList.remove('hidden');
      this.style.display = "none";
    } else {
      contentMobile.style.display = "none";

    }
  });
</script>