<div class="flex flex-col items-start justify-center w-full">
  {% if show_tag %}
    <div class="w-full h-[28px] flex justify-center items-center bg-jaune text-acajou text-xs uppercase GroteskBold article-tags">
      {% for tag in article.tags %}
         {% render 'article-tags', tag: tag %}
      {% endfor %}
    </div>
  {% endif %}
  <!-- card content -->
  <div class="flex flex-col items-start justify-center w-full">
    <a href="{{ article.url }}" class="block w-full">
      <img class="mb-2 lazy object-cover h-[200px] w-full" src="{{ article.image | image_url }}" alt="{{ article.image.alt }}" loading="lazy">
      <div class="gap-2">
        {%- if show_date -%}
          <p class="my-2 text-xs">
            {{ article.published_at | date: "%d.%m.%C"}}
          </p>
        {%- endif -%}

        {%- if show_author -%}
          <span class="block mt-1 text-xs capitalize">{{ article.author }}
          </span>
        {%- endif -%}

        <h3 class="text-[20px] md:text[22px] Grotesque">
          {{ article.title | truncate: 100 | escape }}
        </h3>

        {%- if show_button -%}
          <a href="{{ article.url }}" class="block mt-2 underline uppercase text-xs font-bold">
            {{ 'blogs.article.read_more' | t }}
          </a>
        {% endif %}
      </div>
    </a>
  </div>
</div>
