{%- if tag contains "Énergie" -%}
  <div class="flex items-center justify-center py-1 px-2 bg-[#FEE5C6] rounded-full max-w-[70px]">
    <span class="block text-sm text-[#EA5B0C]">
      {{ tag }}
    </span>
  </div>
{%- elsif tag contains "Sommeil" -%}
  <div class="flex items-center justify-center py-1 px-2 bg-[#E9D2E7] rounded-full max-w-[70px]">
    <span class="block text-sm text-[#4F2674]">
      {{ tag }}
    </span>
  </div>
{%- elsif tag contains "Alimentation" -%}
  <div class="flex items-center justify-center py-1 px-2 bg-[#D9E6B1] rounded-full max-w-[100px]">
    <span class="block text-sm text-[#3D925C]">
      {{ tag }}
    </span>
  </div>
{%- elsif tag contains "Sport" -%}
  <div
    class="flex items-center justify-center py-1 px-2 bg-[#CBE7E6] rounded-full max-w-[70px]">
    <span class="block text-sm text-[#2F52A0]">
      {{ tag }}
    </span>
  </div>
{%- elsif tag contains "Stress" -%}
  <div class="flex items-center justify-center py-1 px-2 bg-[#B7E1F5] rounded-full max-w-[70px]">
    <span class="block text-sm text-[#2F2870]">
      {{ tag }}
    </span>
  </div>
{%- elsif tag contains "Féminin" -%}
  <div class="flex items-center justify-center py-1 px-2 bg-[#F9CDDB] rounded-full max-w-[70px]">
    <span class="block text-sm text-[#9D1553]">
      {{ tag }}
    </span>
  </div>
{%- elsif tag contains "Peau" -%}
  <div class="flex items-center justify-center py-1 px-2 bg-[#FBDBDC] rounded-full max-w-[70px]">
    <span class="block text-sm text-[#E4003A]">
      {{ tag }}
    </span>
  </div>
{%- elsif tag contains "Mémoire/focus" -%}
  <div class="flex items-center justify-center py-1 px-2 bg-[#C2E3DF] rounded-full max-w-[115px]">
    <span class="block text-sm text-[#00555A]">
      {{ tag }}
    </span>
  </div>
{%- endif -%}
