<div class="flex flex-col items-start justify-center h-full w-full p-2 rounded-[8px] shadow-md">
  <!-- card content -->
  <div class="flex flex-col items-start relative h-full w-full">
    <a href="{{ article.url }}" class="block w-full">
      <img
        class="mb-4 lazy object-cover h-[140px] md:h-[250px] rounded-sm w-full"
        src="{{ article.image | image_url }}"
        alt="{{ article.image.alt }}"
        loading="lazy">
      <div class="gap-4">
        {% if show_tag %}
          <div class="w-full h-[28px] flex capitalize text-xs article-tags">
            {% for tag in article.tags %}
              {% render 'article-tags', tag: tag %}
            {% endfor %}
          </div>
        {% endif %}
        {%- if show_title -%}
        <h3 class="text-sm py-2">
          {{ article.title | truncate: 100 | escape }}
        </h3>
        {% endif %}
        {%- if show_date -%}
          {% if article.metafields.global.date != blank %}
            <p class="text-[10px] font-light">
              {{ article.metafields.global.date }}</p>
          {% else %}
            <p class="text-[10px] font-light">
              {{ article.published_at | date: "%d.%b %C" }}
            </p>
          {% endif %}
        {%- endif -%}

        {%- if show_author -%}
          <span class="block mt-1 text-xs font-thin">{{ article.author }}
          </span>
        {%- endif -%}
        {%- if show_time -%}
          <span class="reading-time text-[10px]" title="Estimated read time">
            {% assign words = article.content | strip_html | split: ' ' | size %}
            {{ words | divided_by: 180 | plus: 1 }} min read.
          </span>
        {%- endif -%}
      </div>
      {%- if show_button -%}
        <div class="absolute right-2 bottom-2">
          {% render 'icon-right-arrow' %}
        </div>
      {%  endif %}
    </a>
  </div>
</div>