<a href=" {{ product.url }}">
  <div class="{{ class }} rounded-lg pt-2 pb-2 pr-2 flex justify-center bg-white">
    <div class="w-1/2 rounded-md max-w-[175px]">
      <img
        src="{{ product.featured_image | img_url: 'master' }}"
        alt="{{ product.featured_image.alt }}"
        class="object-cover lazy"
        loading="lazy">
    </div>
    <div class="w-1/2 relative pt-2">
      <!-- labels -->
      <div class="flex gap-2 mb-2">
        {% if card_product.tags contains "60-gummies" %}
          <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            60 gummies
          </div>
        {% elsif card_product.tags contains "60-gelules" %}
          <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            60 gélules
          </div>
        {% elsif card_product.tags contains "120-gummies" %}
          <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            120 gummies
          </div>
        {% elsif card_product.tags contains "120-gelules" %}
          <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            120 gélules
          </div>
        {% endif %}
        {% if card_product.tags contains "30-jours" %}
          <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            30 jours
          </div>
        {% elsif card_product.tags contains "60-jours" %}
          <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            60 jours
          </div>
        {% elsif card_product.tags contains "90-jours" %}
          <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            90 jours
          </div>
        {% elsif card_product.tags contains "120-jours" %}
          <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            120 jours
          </div>
        {% endif %}
      </div>
      <!-- Title -->
      <p class="mb-1 text-sm font-bold line-clamp-1">{{ product.title }}</p>

      <!-- Metafield description -->
      <div class="my-1 text-xs line-clamp-2">
        {% if product.metafields.product.sub_title.value != blank %}
          {{ product.metafields.product.sub_title.value }}
        {% endif %}
      </div>

      <!-- PRICE -->
      {% unless no_price %}
        <h5 class="flex gap-1 items-center">
          {% assign variant = product.variants.first %}
          {% if variant.compare_at_price == nil %}
            <span class="font-bold text-sm">
              {{ variant.price | money_without_trailing_zeros }}
            </span>
          {% else %}
            <span class="font-bold text-sm">
              {{ variant.price | money }}
            </span>
            <span class="line-through text-xs">
              {{ variant.compare_at_price | money }}
            </span>
          {% endif %}
        </h5>
      {% endunless %}

      <!-- ADDTOCART -->
      {% if show_quick_add %}
        <div class="absolute bottom-0 right-0">
          <add-to-cart data-variant={{product.selected_or_first_available_variant.id}}>
            <button class="text-center {% render "button", size:"small", color:"green" %}">
              {% render 'icon-accordion-plus-white' %}
            </button>
          </add-to-cart>
        </div>
      {% endif %}

    </div>
  </div>
</a>