<a href=" {{ product.url }}">
  <div class="{{ class }} rounded-lg p-3 flex gap-4 bg-white">
    <div class="w-1/3 bg-beige rounded-md max-w-[100px]">
      <img
        src="{{ product.featured_image | img_url: 'master' }}"
        alt="{{ product.featured_image.alt }}"
        class="object-cover lazy"
        loading="lazy">
    </div>
    <div class="w-2/3 relative">
      <!-- labels -->
      <div class="flex gap-2 mb-2">
        {% if card_product.tags contains "60-gummies" %}
          <div class="text-white bg-green-medium rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            60 gummies
          </div>
          <div class="text-white bg-green-medium rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            2 mois
          </div>
        {% else %}
          <div class="text-white bg-green-dark rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            120 gummies
          </div>
          <div class="text-white bg-green-dark rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
            4 mois
          </div>
        {% endif %}
      </div>
      <!-- Title -->
      <p class="mb-1 text-sm font-bold line-clamp-1">{{ product.title }}</p>

      <!-- Metafield description -->
      <div class="my-1 text-xs line-clamp-2">
        {% if product.metafields.global.sub_title.value != blank %}
          {{ product.metafields.global.sub_title.value }}
        {% else %}
          Facilite la digestion & le transit intestinal...
        {% endif %}
      </div>

      <!-- PRICE -->
      {% unless no_price %}
        <h5 class="flex gap-1 items-center">
          {% if product.compare_at_price == nil %}
            <span class="font-bold">
              {{ product.price | money_without_trailing_zeros }}
            </span>
          {% else %}
            <span class="font-bold text-sm">
              {{ product.price | money }}
            </span>
            <span class="line-through text-xs">
              {{ product.compare_at_price | money }}
            </span>
          {% endif %}
        </h5>
      {% endunless %}

      <!-- ADDTOCART -->
      {% if show_quick_add %}
        <div class="absolute bottom-0 right-0">
          <add-to-cart data-variant={{product.selected_or_first_available_variant.id}}>
            <button class="text-center {% render "button", size:"small", color:"green" %}">
              {% render 'icon-accordion-plus-white' %}
            </button>
          </add-to-cart>
        </div>
      {% endif %}

    </div>
  </div>
</a>