{%- if card_product and card_product != empty -%} 
  <div class="card-product p-1 pb-2 md:p-2 rounded-lg bg-white shadow-md">
    <a href="{{ card_product.url }}">
          <!-- product image -->
         <div class="relative group">
             <!-- discount % -->
             {% comment %}
              {%- if variant.compare_at_price != blank or card_product.compare_at_price != blank-%}
              {% assign percentage = 0 %}
              {% for variant in card_product.variants %}
                {% assign saving = variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price | round %}
                {% assign percentage = saving | at_least: percentage %}
              {% endfor %}
              <div class="absolute z-20 right-2 top-0 mt-2 text-xs text-white bg-sale font-bold rounded-md py-1 px-2 whitespace-nowrap">-{{ percentage }}%</div>
            {% endif %}
          {% endcomment %}

            {%- if card_product.featured_media -%}
                <div class="w-full mx-auto rounded-lg {% if card_product.media[1] != nil and show_secondary_image %} card_product__image transition-all md:group-hover:opacity-0 {% endif %}  ">
                    <img
                      srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                        {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w"
                      src="{{ card_product.featured_media | image_url: width: 533 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                      alt="{{ card_product.featured_media.alt | escape }}"
                      class="motion-reduce w-full rounded-md"
                      {% unless lazy_load == false %}loading="lazy"{% endunless %}
                      width="{{ card_product.featured_media.width }}"
                      height="{{ card_product.featured_media.height }}"
                    >
                </div>
                {%- if card_product.media[1] != nil and show_secondary_image -%}
                  <div class="absolute top-0 z-10 hidden object-cover h-full transition-all bg-white opacity-0 md:block md:group-hover:opacity-100">
                      <img
                        srcset="{%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                          {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                          {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                          {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                          {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                          {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                          {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w"
                        src="{{ card_product.media[1] | image_url: width: 533 }}"
                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                        alt="{{ card_product.media[1].alt | escape }}"
                        class="motion-reduce rounded-lg"
                        loading="lazy"
                        width="{{ card_product.media[1].width }}"
                        height="{{ card_product.media[1].height }}"
                      >
                  </div>
                {%- endif -%}
           {%- endif -%}
           
          
           <div class="relative bottom-[15px] flex justify-center gap-2 mb-2 z-10">
            {% if card_product.tags contains "60-gummies" %}
              <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
                60 gummies
              </div>
            {% elsif card_product.tags contains "60-gelules" %}
              <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
                60 gélules
              </div>
            {% elsif card_product.tags contains "120-gummies" %}
              <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
                120 gummies
              </div>
            {% elsif card_product.tags contains "120-gelules" %}
              <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
                120 gélules
              </div>
            {% elsif card_product.tags contains "4-compartiments" %}
                <div class="text-white bg-green rounded-md p-1 text-[10px] hidden sm:block sm:text-xs w-fit text-center">
                  {{ 'general.custom.compartments' | t }}
                </div>
            {% endif %}
            {% if card_product.tags contains "30-jours" %}
              <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
                30 jours
              </div>
            {% elsif card_product.tags contains "60-jours" %}
              <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
                60 jours
              </div>
            {% elsif card_product.tags contains "90-jours" %}
              <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
                90 jours
              </div>
            {% elsif card_product.tags contains "120-jours" %}
              <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
                120 jours
              </div>
            {% elsif card_product.tags contains "Reutilisable" %}
                <div class="text-white bg-green rounded-md p-1 text-[10px] sm:text-xs w-fit text-center">
                  {{ 'general.custom.re_use' | t }}
              </div>
            {% endif %}
      </div>
        </div>
    </a>

    <!-- product-info -->
    <div class="text-center bg-white relative z-10">  
      <!-- title -->
      <{% if template contains 'collection' %}h2{% else %}h3{% endif %} class="font-body-text text-base md:text-[20px] font-extrabold line-clamp-1">
        {{ card_product.title }}
       </{% if template contains 'collection' %}h2{% else %}h3{% endif %}>
{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: card_product %}
      <!-- Description -->
      {%- if card_product.metafields.product.sub_title.value != blank -%}
          <p class="card-description my-1 md:my-2 text-xs md:text-sm line-clamp-2 max-h-[42px]">{{ product.metafields.product.sub_title.value }}</p>
    
      {%- endif -%}
      {% comment %}
      <!-- Price -->
      <div class="flex items-center justify-center">
        {% if card_product.compare_at_price == nil %}
            <h6 class="text-sm md:text-base font-extrabold">
                {{ card_product.price | money }}
            </h6>
        {% else %}
           <span class="line-through text-xs md:text-sm mr-1 md:mr-2 text-gray-400 font-semibold">
              {{ card_product.compare_at_price | money }}
          </span>
          <h6 class="text-sm md:text-base font-extrabold">
              {{ card_product.price | money }}
          </h6>   
        {% endif %}
      </div>
      {% endcomment %}

       <!-- cta  -->
      {% if section.settings.show_cta %}      
        {% if card_product.available %}
          <div class="group relative mt-3 flex gap-1">
            {% if section.settings.show_quantity %}   
              <product-quantity
              data-max-quantity="{{card_product.selected_or_first_available_variant.inventory_quantity}}"
              data-product="{{card_product.id}}" 
              class="flex items-center justify-center m-auto quantity border border-gray-300 rounded-md py-[5px] px-2">
                <button class= "p-1 no-js-hidden" name="minus" type="button">
                  {% render 'icon-quantity-minus' %}
                </button>
                <input class="text-black bg-transparent text-[16px] md:text-[20px] font-extrabold md:max-w-[30px] max-w-[20px] text-center"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                <button  class="p-1 no-js-hidden" name="plus" type="button">
                  {% render 'icon-quantity-plus' %}
                </button>
              </product-quantity>
            {% endif %}
            <add-to-cart
              data-max-quantity={{card_product.selected_or_first_available_variant.inventory_quantity}}
                class="{% if section.settings.show_quantity %} w-8/12 {% else %} w-full {% endif %}"
                data-product="{{ card_product.id }}"
                data-title="{{ card_product.title }}{% unless card_product.selected_or_first_available_variant.title contains 'Default' %} - {{ card_product.selected_or_first_available_variant.title }}{% endunless %}"
                data-discount="{% if card_product.selected_or_first_available_variant.compare_at_price > card_product.selected_or_first_available_variant.price %}{{ card_product.selected_or_first_available_variant.compare_at_price | minus: card_product.selected_or_first_available_variant.price | divided_by: 100.00 }}{% else %}0.00{% endif %}"
                data-price="{{ card_product.selected_or_first_available_variant.price | divided_by: 100.00 }}"
                data-variant="{{ card_product.selected_or_first_available_variant.id }}">
                <button class="btn-primary {% render "button", size:"medium", fullWidth: true %} flex justify-center items-center">
                    <span class="block mr-1 text-xs sm:text-sm">Ajouter - </span>
                    {% assign first_variant = card_product.first_available_variant %}
                      {% if first_variant.compare_at_price == nil %}
                          <span class="block text-sm">
                              {{ first_variant.price | money }}
                          </span>
                      {% else %} 
                          <span class="block text-xs sm:text-sm">
                              {{ first_variant.price | money }}
                          </span>
                          <span class="block line-through text-[10px] sm:text-xs mr-1 font-light pl-1">
                              {{ first_variant.compare_at_price | money }}
                          </span>   
                      {% endif %}
                </button>
            </add-to-cart>
          </div>
        {% else %}
            <div class="relative mt-3" data-variant="{{ product.selected_or_first_available_variant.id }}">
              <div class="bg-gray-medium text-black font-normal {% render "button", size:"medium", color:"gray-medium", fullWidth: true %}">
                Rupture
              </div>
            </div>
       {% endif %}
     {% endif %}
    </div>

  </div>
{%- endif -%}
