<tail-tabs class="relative">
  <tabs-buttons class="z-50 p-5 justify-start gap-6 bg-white border-b border-gray-300 shadow-sm">
    {% for tab in elements %}
      <div class="block relative group transition-all cursor-pointer {% unless  tab.settings.title contains "pack" or tab.settings.title contains "PACK" %} selected:font-bold hover:text-green {% endunless %}">
        <p class="text-sm uppercase {% if tab.settings.title contains "pack" or tab.settings.title contains "PACK" %} link-pack rounded-lg p-1 hover:text-white {% endif %}">{{ tab.settings.title }}</p>
      </div>
    {% endfor %}
  </tabs-buttons>
  <tabs-panels>
    {% for tab in elements %}
      <div class="p-5 ">
        boxes
        <!-- links in accordion -->
        {% if tab.settings.menu != blank %}
          <accordion-group class="flex flex-col items-start justify-start block">
            {% for links in tab.settings.menu.links %}
              {%- liquid
                assign title = links.title | handle
                assign bold_uppercase = 'nouveautes,meilleures-ventes,nos-packs,allaitement,actifs,tous-nos-e-books,cycle-heureux,desir-d-enfant,grossesse,postpartum,fausse-couche,kids,accouchement,les-modes-d-emploi,coaching' | split: ','
                if bold_uppercase contains title
                  assign class = 'text-base font-bold uppercase GroteskBold text-chataigne'
                else
                  assign class = 'text-base font-semibold'
                endif
              -%}
              {% if links.links.size > 0 %}
                <accordion-element class="w-full bg-white rounded-lg shadow-lg p-3 {% unless forloop.last %} mb-5 {% endunless %} {% if previous == 'link' %}mt-6{% endif %}">
                  <accordion-trigger class="group">
                    <accordion-header class="flex flex-row items-center justify-between">
                      <div class="flex-1">
                        <p class="text-sm font-normal">{{ links.title }}</p>
                      </div>
                      <accordion-icon class="group-expanded:rotate-180 transition-all origin-center h-[fit-content]">
                        {% render 'icon-arrow-accordion' %}
                      </accordion-icon>
                    </accordion-header>
                  </accordion-trigger>
                  <accordion-content>
                    <div class="text-sm">
                      {% for sublinks in links.links %}
                        <div class="mt-3">
                          <a href="{{ sublinks.url }}" class="flex flex-row items-center gap-2">
                            {% assign title = sublinks.title | handle %}
                            {% render 'icons-menu', title: title, submenu: tab.settings.menu %}
                            <span>{{ sublinks.title }}</span>
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </accordion-content>
                </accordion-element>
                {% assign previous = 'accordion' %}
              {% else %}
                <a href="{{ links.url }}" class="w-full bg-white flex flex-row gap-2 items-center rounded-lg shadow-lg p-3 {% unless forloop.last %} mb-4{% endunless %}">
                  {% render 'icons-menu', title: title, submenu: tab.settings.menu %}
                  <span class="text-sm font-normal">{{ links.title }}</span>
                </a>
                {% assign previous = 'link' %}
              {% endif %}
            {% endfor %}
          </accordion-group>
        {% endif %}

      </div>
    {% endfor %}
  </tabs-panels>
</tail-tabs>
<style>
  .selected\:font-bold[aria-selected="true"] {
    font-weight: 700;
    color: #4B9B7D;
  }

  .selected\:font-bold[aria-selected="true"]::after {
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4B9B7D;
    border-radius: 3px;
  }
</style>