<tail-tabs class="relative">
  <tabs-buttons class="z-50 py-5 pl-5 pr-16 justify-start bg-white border-b border-gray-300 shadow-sm relative overflow-hidden overflow-x-scroll snap-mandatory snap-x gap-6 scrollbar">
    {% for tab in elements %}
      <div class="block relative group transition-all cursor-pointer {% unless  tab.settings.title contains "pack" or tab.settings.title contains "PACK" %} selected:font-bold hover:text-green {% endunless %}">
        <p class="text-sm uppercase Fredoka {% if tab.settings.title contains "pack" or tab.settings.title contains "PACK" %} text-center min-w-max link-pack rounded-lg p-1 hover:text-white text-white px-2{% endif %}">{{ tab.settings.title }}</p>
      </div>
    {% endfor %}
  </tabs-buttons>
  <tabs-panels>
    {% for tab in elements %}
      <div class="p-5">


        <!-- featured cards -->
        <div class="w-full">
          {% render "header-drawer-featured-links", block: tab.settings, limit: 2 %}
        </div>

        {% if tab.settings.menu_style == "accordion" %}
          <!-- links in accordion -->
          {% if tab.settings.menu != blank %}
            <accordion-group class="flex flex-col items-start justify-start">
              {% for links in tab.settings.menu.links %}

                {% if links.links.size > 0 %}
                  <accordion-element {% if forloop.first %} data-open="true" {% endif %} class="w-full bg-white rounded-lg shadow-lg p-3 {% unless forloop.last %} mb-5 {% endunless %} {% if previous == 'link' %}mt-6{% endif %}">
                    <accordion-trigger class="group">
                      <accordion-header class="flex flex-row items-center justify-between">
                        <div class="flex-1">
                          <p class="text-sm font-normal">{{ links.title }}</p>
                        </div>
                        <accordion-icon class="{% unless forloop.first %} group-expanded:rotate-180 {% endunless %} transition-all origin-center h-[fit-content]">
                          {% render 'icon-arrow-accordion' %}
                        </accordion-icon>
                      </accordion-header>
                    </accordion-trigger>
                    <accordion-content>
                      <div class="text-sm">
                        {% for sublinks in links.links %}
                          <div class="mt-3">

                            <a href="{{ sublinks.url }}" class="flex flex-row items-center gap-2">
                              {% assign title = sublinks.title %}
                              {% render 'megamenu-title-icons', title: title %}
                              <span>{{ sublinks.title }}</span>
                            </a>
                          </div>
                        {% endfor %}

                        {% if links.title contains "Besoins" or links.title contains "BESOINS" or links.title contains "besoins" %}
                          <a class="block h-fit mt-4 {% render "button", size:"small", color:"green", fullWidth: true, variation: "outlined" %}" href="{{ links.url }}">Voir tous les besoins</a>
                        {% endif %}
                      </div>
                    </accordion-content>
                  </accordion-element>
                  {% assign previous = 'accordion' %}
                {% else %}
                  <a href="{{ links.url }}" class="w-full bg-white flex flex-row gap-2 items-center rounded-lg shadow-lg p-3 {% unless forloop.last %} mb-4{% endunless %}">
                    {% render 'icons-menu', title: title, submenu: tab.settings.menu %}
                    <span class="text-sm font-normal">{{ links.title }}</span>
                  </a>
                  {% assign previous = 'link' %}
                {% endif %}
              {% endfor %}
            </accordion-group>
          {% endif %}
        {% else %}
          {% for links in tab.settings.menu.links %}
            <div class="flex flex-col justify-between shadow-lg rounded-lg p-5 bg-white mb-5">
              <div>
                <ul>
                  <li class="menu-list text-sm uppercase font-bold mb-2">
                    <a href="{{ link.url }}" class="flex items-center">
                      {% if links.title contains "Gélules" %}
                        <span class="-ml-3">
                          {% render 'icon-gelule' %}
                        </span>
                      {% elsif links.title contains "Gummies" %}
                        <span class="-ml-3">
                          {% render 'icon-gummy' %}
                        </span>
                      {% elsif links.title contains "Accessoires" %}
                        <span class="mr-2">
                          {% render 'icon-pilulier' %}
                        </span>
                      {% endif %}
                      {{ links.title }}
                    </a>
                  </li>
                  {% for sublinks in links.links limit: 5 %}
                    <li class="menu-list">
                      <a href="{{ child_link.url }}">
                        <span class="text-xs">{{ sublinks.title }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% if links.title contains "Gélules" %}
                <a class="block underline text-xs mt-5 text-right" href="{{ links.url }}">Voir toutes les gélules</a>
              {% elsif links.title contains "Gummies" %}
                <a class="block underline text-xs mt-5 text-right" href="{{ links.url }}">Voir tous les gummies</a>
              {% elsif links.title contains "Accessoires" %}
                <a class="block underline text-xs mt-5 text-right" href="{{ links.url }}">Voir tous les accesoires</a>
              {% else %}
                <a class="block underline text-xs mt-5 text-right" href="{{ links.url }}">Voir tous les produits</a>
              {% endif %}

            </div>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </tabs-panels>
</tail-tabs>
<style>
  .selected\:font-bold[aria-selected="true"] {
    font-weight: 700;
    color: #4B9B7D;
  }

  .selected\:font-bold[aria-selected="true"]::after {
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4B9B7D;
    border-radius: 3px;
  }
</style>