<div class="flex flex-col lg:flex-row justify-center gap-5">
  {% if product.metafields.product.sticker_1 != blank %}
    <img
      class="max-w-[42px] md:max-w-none"
      src="{{ product.metafields.product.sticker_1 }}"
      alt="{{ product.metafields.product.sticker_1.alt }}">
  {% endif %}
  {% if product.metafields.product.sticker_2 != blank %}
    <img
      class="max-w-[42px] md:max-w-none"
      src="{{ product.metafields.product.sticker_1 }}"
      alt="{{ product.metafields.product.sticker_1.alt }}">
  {% endif %}
  {% if product.metafields.product.sticker_3 != blank %}
    <img
      class="max-w-[42px] md:max-w-none"
      src="{{ product.metafields.product.sticker_3 }}"
      alt="{{ product.metafields.product.sticker_3.alt }}">
  {% endif %}
</div>