<div class="w-11/12 mx-auto lg:mx-0 lg:w-full pr-0 lg:pr-10 mt-6">
  <div class="bg-white bg-opacity-70 rounded-lg p-4 pb-6">
    <div class="mb-2">
      <h3 class="text-2xl md:text-3xl text-center text-{{ product-color }} mb-4">Ce que vous en pensez</h3>
      {% comment %} <div id="list-bubble-test-widget" style="margin: 5px 2px; min-height: 81px;"></div>
        <script
        src="https://popit.my.join-stories.com/widgets/test-widget/index.js"
        data-join-widget-id="list-bubble-test-widget"
        data-join-widget-alias="test-widget"
      type="text/javascript"></script> {% endcomment %}
      <div id="widget-{{ product.handle }}"></div>
      <script
        src="https://popit.my.join-stories.com/widgets/{{ product.handle }}/index.js"
        data-join-widget-id="widget-{{ product.handle }}"
        data-join-widget-alias="{{ product.handle }}"
        type="text/javascript"></script>
    </div>
    {% if product.metafields.product.image_benefices_1 != blank or product.metafields.product.image_benefices_2 != blank or product.metafields.product.image_benefices_3 != blank %}
      <h3 class="text-2xl md:text-3xl text-center text-{{ product-color }}">Bénéfices</h3>
      <div class="flex justify-center gap-2 md:gap-4 lg:gap-10 mt-1">
        {% if product.metafields.product.image_benefices_1 != blank %}
          <div class="text-center">
            <div class="w-26 h-26 rounded-full flex justify-center items-center">
              <img
                src="{{ product.metafields.product.image_benefices_1.value | img_url: 'master'}}"
                class="object-contain max-w-[110px]"
                alt="{{ product.metafields.product.image_benefices_1.alt }}">
            </div>
            <span class="block text-sm  font-bold text-{{ product-color }}">{{ product.metafields.product.text_benefices_1 }}</span>
          </div>
        {% endif %}
        {% if product.metafields.product.image_benefices_2 != blank %}
          <div class="text-center">
            <div class="w-26 h-26 rounded-full flex justify-center items-center">
              <img
                src="{{ product.metafields.product.image_benefices_2.value | img_url: 'master' }}"
                class="object-contain max-w-[110px]"
                alt="{{ product.metafields.product.image_benefices_2.alt }}">
            </div>
            <span class="block text-sm  font-bold text-{{ product-color }}">{{ product.metafields.product.text_benefices_2 }}</span>
          </div>
        {% endif %}
        {% if product.metafields.product.image_benefices_3 != blank %}
          <div class="text-center">
            <div class="w-26 h-26 rounded-full flex justify-center items-center" ">
              <img
                src="{{ product.metafields.product.image_benefices_3.value | img_url: 'master' }}"
                class="object-contain max-w-[110px]"
                alt="{{ product.metafields.product.image_benefices_3.alt }}">
            </div>
            <span class="block text-sm font-bold text-{{ product-color }}">{{ product.metafields.product.text_benefices_3 }}</span>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>