<script>
  let stickyCart = document.querySelector('#sticktCart');
  let referenceMobile = document.querySelector('#referenceMobile');
  let referenceDesktop = document.querySelector('#referenceDesktop');
  let reference


  window.addEventListener("scroll", () => {
    function checkVisible() {
      if (! referenceMobile) {
        referenceMobile = document.querySelector('#referenceMobile');
      }
      if (! referenceDesktop) {
        referenceDesktop = document.querySelector('#referenceDesktop');
      }

      reference = window.innerWidth < 768
        ? referenceMobile
        : referenceDesktop;

      var rect = reference.getBoundingClientRect();
      console.log(rect.top)
      var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
      if (window.scrollY < rect.top) {
        return true
      }
      return !(rect.bottom < 0 || rect.top - viewHeight >= 0);
    }
    if (! stickyCart) {
      stickyCart = document.querySelector('#sticktCart');
    }
    console.log(checkVisible())
    if (checkVisible()) {
      stickyCart.style.transform = "translateY(100%)"
    } else {
      stickyCart.style.transform = "translateY(-0%)"
    }

  }, {passive: true})
</script>

{% if product.available %}
  <div
    id="sticktCart"
    style="z-index: 40; transform:translateY(100%);"
    class="fixed bottom-0 left-0 flex items-center justify-between w-screen gap-5 px-4 md:px-2 py-2 xl:px-10 transition-all bg-white shadow ">
    <div class="items-center hidden gap-4 rounded-sm md:flex">
      <img
        class="w-[80px]"
        src="{{product.featured_image | image_url }}"
        alt="product">
      <div class="flex flex-col justify-center">
        <div class="flex items-center gap-2">
          <h4 class="text-sm text-{{ product-color }}">{{ product.title }}</h4>
        </div>
        {% if product.metafields.global.weight != blank %}
          <div class="text-sm text-{{ product-color }} line-clamp-2 h-[40px] mt-1">
            {{ product.metafields.global.weight }}
          </div>
        {% endif %}
        {%- unless product.has_only_default_variant -%}

          <tail-variants
            data-product="{{product.id}}"
            class="no-js-hidden"
            data-section="{{ section.id }}"
            data-url="{{ product.url }}">
            {%- for option in product.options_with_values -%}
              {% comment %} <div class="mr-5 text-[15px] min-w-fit mb-2">{{ option.name }}:
              </div> {% endcomment %}
              <div class="hidden xl:flex justify-between gap-2 mt-1 flex-row-reverse">
                {% assign counter = 0 %}
                {%- for value in option.values -%}
                  <div class="w-1/3 tail-variant">
                    <input
                      data-position="{{ option.position }}"
                      type="radio"
                      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                      name="{{ option.name }}"
                      value="{{ value | escape }}"
                      form="{{ product_form_id }}"
                      class="radio-variant-circle-sticky w-0 h-0 opacity-0 md:collapse hidden"
                      {% if option.selected_value == value %}checked{% endif %}>
                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                      <div data-option-value="{{ value }}" class="variant-box block pt-2 pb-3 px-2 bg-white bg-opacity-60 text-sm rounded-lg cursor-pointer border border-{{ product-color }} text-{{ product-color }} text-center">
                        <h5 class="text-sm text-{{ product-color }} leading-4">{{ value }}</h5>
                        <!-- workaround to show variant price -->
                        {% assign counter = counter | plus: 1 %}
                      </div>
                    </label>
                    <!-- discount % -->
                    {% comment %}
                      I did this workaround to show the percentage but at the end the client wants the 10%/5% fixed. 
                      If you want to show the real percentage of compare price you have to use {{ percentage }}
                    {% endcomment %}
                    {% if counter == 1 %}
                      {%- if product.variants[0].compare_at_price %}
                        {% assign percentage = 0 %}

                        {% assign saving = product.variants[0].compare_at_price | minus: product.variants[0].price | times: 100 | divided_by: product.variants[0].compare_at_price | round %}
                        {% assign percentage = saving | at_least: percentage %}

                        <div class="relative flex -top-2 text-[10px] bg-{{ product-color }} text-white percentage text-center whitespace-nowrap rounded-md w-fit mx-auto py-0.5 px-2">
                          <span class="hidden md:block mr-1">ÉCONOMISEZ</span>
                          {{ percentage }}%</div>
                      {% endif %}
                    {% elsif counter == 2 %}
                      {%- if product.variants[1].compare_at_price %}
                        {% assign percentage = 0 %}

                        {% assign saving = product.variants[1].compare_at_price | minus: product.variants[1].price | times: 100 | divided_by: product.variants[1].compare_at_price | round %}
                        {% assign percentage = saving | at_least: percentage %}

                        <div class="relative flex -top-2 text-[10px] bg-{{ product-color }} text-white percentage text-center whitespace-nowrap rounded-md w-fit mx-auto py-0.5 px-2">
                          <span class="hidden md:block mr-1">ÉCONOMISEZ</span>
                          5%</div>
                      {% endif %}
                    {% elsif counter == 3 %}
                      {%- if product.variants[2].compare_at_price %}
                        {% assign percentage = 0 %}

                        {% assign saving = product.variants[2].compare_at_price | minus: product.variants[2].price | times: 100 | divided_by: product.variants[2].compare_at_price | round %}
                        {% assign percentage = saving | at_least: percentage %}

                        <div class="relative flex -top-2 text-[10px] bg-{{ product-color }} text-white percentage text-center whitespace-nowrap rounded-md w-fit mx-auto py-0.5 px-2">
                          <span class="hidden md:block mr-1">ÉCONOMISEZ</span>
                          10%</div>
                      {% endif %}
                    {% endif %}
                  </div>
                {%- endfor -%}
              </div>
            {%- endfor -%}
            <script id="product-variants" type="application/json">
              {{ product.variants | json }}
            </script>
          </tail-variants>

          <script type="application/json">
            {{ product.variants | json }}
          </script>
        {%- endunless -%}

      </div>
    </div>
    <div class="flex items-center justify-center w-full max-w-full gap-3 pr-3 md:w-fit md:min-w-[450px]">
      {% comment %}
        <div
        class="hidden 2xl:flex items-center my-2"
        id="price-{{ section.id }}"
        role="status"
        {{ block.shopify_attributes }}>
        {%- if product.compare_at_price > product.price -%}
        <h5
        data-price
        data-dynamic-price
        class="text-lg font-extrabold text-{{ product-color }}">{{ product.price | money }}</h5>
        <span data-price-stroke class="ml-2 text-sm font-light line-through text-{{ product-color }}">{{ product.compare_at_price | money }}</span>
        {% else %}
        <h5 class="text-lg font-extrabold text-{{ product-color }}">{{ product.price | money }}</h5>
        {% endif %}
        </div>
      {% endcomment %}
      <div
        id="buy-buttons"
        {{ block.shopify_attributes }}
        class="flex-1 max-w-full ">
        <add-to-cart
          data-product="{{ product.id }}"
          class="{% unless product.available %} hidden {% endunless %}"
          data-max-quantity={{ product.selected_or_first_available_variant.inventory_quantity }}
          data-disabled="{% if product.available %}false{% else %}true{% endif %}"
          class="flex justify-center w-full"
          data-price-stroke="{{ product.compare_at_price | money_without_trailing_zeros }}"
          data-price="{{ product.price | money_without_trailing_zeros }}"
          data-product="{{product.id}}"
          data-variant={{product.selected_or_first_available_variant.id}}>
          <button disabled="{% if product.available %}false{% else %}true{% endif %}" class="{% unless product.available %}  bg-gray-medium text-black  {% else %} cursor-pointer !px-0 !py-0 text-white bg-{{ product-color }}  {% endunless %} w-full my-2  {% render "button", color: product-color, size: "large" %}">
            {% if product.available %}
              <div class="px-0 md:px-16 py-3 flex justify-center items-center">
                <span class="block font-bold">Ajouter au panier</span>
                <span class="px-1">-</span>
                <span
                  data-price
                  data-dynamic-price
                  class="block font-bold">{{ product.price | money_without_trailing_zeros }}</span>
                {%- if product.compare_at_price != blank -%}
                  <span data-price-stroke class="block ml-2 text-xs line-through">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                {%- endif -%}
              </div>
            {% else %}
              Stocks épuisés
            {% endif %}
          </button>
        </add-to-cart>

<!-- Just Button  -->
            <just-pay-button 
             theme="default"
             default_variant="{{product.selected_or_first_available_variant.id}}"
             default_available="{{product.selected_or_first_available_variant.available}}"
             product_id="{{ product.id }}" 
             product_handle="{{ product.handle }}"                        
             className="just-btn just-btn-product sticky"
             app_id="bb4d5e79-c36d-499d-a2da-801217b5c5f7" 
             domain="Popit"
             source="product">
            </just-pay-button>
<!-- End Of Just Button  -->
        
        {% if block.settings.show_dynamic_checkout %}
          {{ form | payment_button }}
        {% endif %}

      </div>
    </div>
  </div>
{% endif %}
<!-- end sticky button -->


<div class="w-11/12 mx-auto lg:mx-0 lg:w-full pr-0 lg:pr-10">

  <!-- product blocks -->
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
      {% render block %}

      {%- when 'subtitle' -%}
      <p class="my-2 text-base text-{{ product-color }} italic" {{ block.shopify_attributes }}>
        {{ product.metafields.product.sub_title }}
      </p>
      {%- when 'vendor' -%}
      <h5 class="my-2 text-sm uppercase md:block" {{ block.shopify_attributes }}>
        {{ product.vendor }}
      </h5>
      {%- when 'product-type' -%}
      <div class="flex gap-2 mb-3">
        {% if product.tags contains "60-gummies" %}
          <div class="text-white bg-{{ product-color }} rounded-md px-2 py-1 font-semibold text-[10px] sm:text-xs w-fit text-center">
            60 gummies
          </div>
        {% elsif product.tags contains "60-gelules" %}
          <div class="text-white bg-{{ product-color }} rounded-md px-2 py-1 font-semibold text-[10px] sm:text-xs w-fit text-center">
            60 gélules
          </div>
        {% elsif product.tags contains "120-gummies" %}
          <div class="text-white bg-{{ product-color }} rounded-md px-2 py-1 font-semibold text-[10px] sm:text-xs w-fit text-center">
            120 gummies
          </div>
        {% elsif product.tags contains "120-gelules" %}
          <div class="text-white bg-{{ product-color }} rounded-md px-2 py-1 font-semibold text-[10px] sm:text-xs w-fit text-center">
            120 gélules
          </div>
        {% endif %}
        {% if product.tags contains "30-jours" %}
          <div class="text-white bg-{{ product-color }} rounded-md px-2 py-1 font-semibold text-[10px] sm:text-xs w-fit text-center">
            30 jours
          </div>
        {% elsif product.tags contains "60-jours" %}
          <div class="text-white bg-{{ product-color }} rounded-md px-2 py-1 font-semibold text-[10px] sm:text-xs w-fit text-center">
            60 jours
          </div>
        {% elsif product.tags contains "90-jours" %}
          <div class="text-white bg-{{ product-color }} rounded-md px-2 py-1 font-semibold text-[10px] sm:text-xs w-fit text-center">
            90 jours
          </div>
        {% elsif product.tags contains "120-jours" %}
          <div class="text-white bg-{{ product-color }} rounded-md px-2 py-1 font-semibold text-[10px] sm:text-xs w-fit text-center">
            120 jours
          </div>
        {% endif %}
      </div>

      {%- when 'title' -%}

      <h1 class="text-3xl md:text-4xl font-bold text-{{ product-color }}" {{ block.shopify_attributes }}>
        {{ product.title | escape }}
      </h1>

      {%- when 'text' -%}
      <p class="product__text {% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
        {{- block.settings.text -}}
      </p>

      {%- when 'price' -%}
      <div
        class="flex items-center my-2"
        id="price-{{ section.id }}"
        role="status"
        {{ block.shopify_attributes }}>
        {%- if product.compare_at_price > product.price -%}
          <h5 class="text-2xl font-extrabold text-{{ product-color }}">{{ product.price | money }}</h5>
          <span class="ml-2 text-xl font-light line-through text-{{ product-color }}">{{ product.compare_at_price | money }}</span>
        {% else %}
          <h5 class="text-2xl font-extrabold text-{{ product-color }}">{{ product.price | money }}</h5>
        {% endif %}
      </div>

      {%- when 'description' -%}
      {%- if product.description != blank -%}
        <div class="mt-2.5 md:mt-4 text-sm product-description">
          {{ product.description }}
        </div>
      {%- endif -%}

      {%- when 'short_description' -%}
      {% if product.metafields.global.short_description != blank %}
        <div class="mt-2 md:mt-4 text-sm">
          {{ product.metafields.global.short_description }}
        </div>
      {% endif %}

      {%- when 'stars' -%}
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0681/5494/9926/files/Frame_8722.png?v=1671549363" alt="">
      </div>

      {%- when 'weight' -%}
      {% if product.metafields.global.weight != blank %}
        <div class="my-2 md:my-1.5 text-xs">
          <p>{{ product.metafields.global.weight }}</p>
        </div>
      {% else %}
        <div class="my-2 md:my-1.5 text-xs">{{ block.settings.weight_text }}</div>
      {% endif %}

      {%- when 'contenance' -%}
      {% if product.metafields.global.contenance != blank %}
        <div class="flex items-center my-2 text-sm md:my-3">
          {% render 'icon-bulb' %}
          <p class="ml-2">{{ product.metafields.global.contenance }}</p>
        </div>
      {% endif %}

      {%- when 'delivery_note' -%}
      {% comment %} <div class="flex justify-between gap-3 my-5">
        {% if block.settings.text != blank %}
        <div class="flex items-center">
        <div class="hidden md:block">
        {% render 'icon-truck' %}
        </div>
        <div class="block md:hidden">
        {% render 'icon-clock' %}
        </div>
        <p class="text-xs md:text-sm delivery-text ml-2">{{ block.settings.text }}</p>
        </div>
        {% endif %}
        {% if block.settings.text_2 != blank %}
        <div class="flex items-center">
        {% render 'icon-truck-2' %}
        <p class="text-xs md:text-sm delivery-text ml-2">{{ block.settings.text_2 }}</p>
        </div>
        {% endif %}
      </div> {% endcomment %}
      <tail-marquee class="flex relative overflow-hidden">
        <marquee-content style="animation-duration:30s" class="items-center flex py-3 animate-marquee whitespace-nowrap gap-10 pr-10">
          {% if block.settings.text != blank %}
            <div class="flex items-center gap-1">
              <div class="w-16">
                <img src="{{ block.settings.truck | img_url: 'master'}}" alt="{{ block.settings.truck.alt }}">
              </div>
              <p class="text-xs md:text-sm delivery-text">{{ block.settings.text }}</p>
            </div>
          {% endif %}
          {% if block.settings.text_2 != blank %}
            <div class="flex items-center gap-1">
              <div class="w-16">
                <img src="{{ block.settings.oclock | img_url: 'master'}}" alt="{{ block.settings.oclock.alt }}">
              </div>
              <p class="text-xs md:text-sm delivery-text">{{ block.settings.text_2 }}</p>
            </div>
          {% endif %}
        </marquee-content>
      </tail-marquee>

      {%- when 'klarna' -%}
      <div class="flex justify-center items-center gap-1 my-3">
        <p class="text-xs md:text-sm">{{ block.settings.text }}</p>
      </div>

      {%- when 'variant_picker' -%}
      {%- unless product.has_only_default_variant -%}
        <fieldset>

          <tail-variants
            data-product="{{product.id}}"
            class="no-js-hidden"
            data-section="{{ section.id }}"
            data-url="{{ product.url }}">
            {%- for option in product.options_with_values -%}
              {% comment %} <div class="mr-5 text-[15px] min-w-fit mb-2">{{ option.name }}:
              </div> {% endcomment %}
              <div class="flex justify-between gap-2 mt-5 flex-row-reverse">
                {% assign counter = 0 %}
                {%- for value in option.values -%}
                  <div class="w-1/3 tail-variant">
                    <input
                      data-position="{{ option.position }}"
                      type="radio"
                      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                      name="{{ option.name }}"
                      value="{{ value | escape }}"
                      form="{{ product_form_id }}"
                      class="radio-variant-circle w-0 h-0 opacity-0 md:collapse hidden"
                      {% if option.selected_value == value %}checked{% endif %}>
                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                      <div data-option-value="{{ value }}" class="variant-box block pt-3 pb-4 bg-white bg-opacity-60 text-sm rounded-lg cursor-pointer border border-{{ product-color }} text-{{ product-color }} text-center">
                        <h5 class="text-base text-{{ product-color }} leading-5 md:leading-8">{{ value }}</h5>
                        <!-- workaround to show variant price -->
                        {% assign counter = counter | plus: 1 %}

                        {% if counter == 1 %}
                          <div class="flex justify-center items-center">
                            <span class="text-sm md:text-base">{{ product.variants[0].price | money }}</span>
                            <span class="md:ml-2 text-xs font-light line-through">{{ product.variants[0].compare_at_price | money }}</span>
                          </div>
                        {% elsif counter == 2 %}
                          <div class="flex justify-center items-center">
                            <span class="text-sm md:text-base">{{ product.variants[1].price | money }}</span>
                            <span class="md:ml-2 text-xs font-light line-through">{{ product.variants[1].compare_at_price | money }}</span>
                          </div>
                        {% elsif counter == 3 %}
                          <div class="flex justify-center items-center">
                            <span class="text-sm md:text-base">{{ product.variants[2].price | money }}</span>
                            <span class="md:ml-2 text-xs font-light line-through">{{ product.variants[2].compare_at_price | money }}</span>
                          </div>
                        {% endif %}
                      </div>
                    </label>
                    <!-- discount % -->
                    {% comment %}
                      I did this workaround to show the percentage but at the end the client wants the 10%/5% fixed. 
                      If you want to show the real percentage of compare price you have to use {{ percentage }}
                    {% endcomment %}
                    {% if counter == 1 %}
                      {%- if product.variants[0].compare_at_price %}
                        {% assign percentage = 0 %}

                        {% assign saving = product.variants[0].compare_at_price | minus: product.variants[0].price | times: 100 | divided_by: product.variants[0].compare_at_price | round %}
                        {% assign percentage = saving | at_least: percentage %}

                        <div class="relative flex -top-3 text-[10px] bg-{{ product-color }} text-white percentage text-center whitespace-nowrap rounded-md w-fit mx-auto py-1 px-2">
                          <span class="hidden md:block mr-1">ÉCONOMISEZ</span>
                          {{ percentage }}%</div>
                      {% endif %}
                    {% elsif counter == 2 %}
                      {%- if product.variants[1].compare_at_price %}
                        {% assign percentage = 0 %}

                        {% assign saving = product.variants[1].compare_at_price | minus: product.variants[1].price | times: 100 | divided_by: product.variants[1].compare_at_price | round %}
                        {% assign percentage = saving | at_least: percentage %}

                        <div class="relative flex -top-3 text-[10px] bg-{{ product-color }} text-white percentage text-center whitespace-nowrap rounded-md w-fit mx-auto py-1 px-2">
                          <span class="hidden md:block mr-1">ÉCONOMISEZ</span>
                          5%</div>
                      {% endif %}
                    {% elsif counter == 3 %}
                      {%- if product.variants[2].compare_at_price %}
                        {% assign percentage = 0 %}

                        {% assign saving = product.variants[2].compare_at_price | minus: product.variants[2].price | times: 100 | divided_by: product.variants[2].compare_at_price | round %}
                        {% assign percentage = saving | at_least: percentage %}

                        <div class="relative flex -top-3 text-[10px] bg-{{ product-color }} text-white percentage text-center whitespace-nowrap rounded-md w-fit mx-auto py-1 px-2">
                          <span class="hidden md:block mr-1">ÉCONOMISEZ</span>
                          10%</div>
                      {% endif %}
                    {% endif %}
                  </div>
                {%- endfor -%}
              </div>
            {%- endfor -%}
            <script id="product-variants" type="application/json">
              {{ product.variants | json }}
            </script>
          </tail-variants>
        </fieldset>
        <script type="application/json">
          {{ product.variants | json }}
        </script>
      {%- endunless -%}

      <noscript class="product-form__noscript-wrapper-{{ section.id }}">
        <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
          <div class="select">
            <select
              name="id"
              id="Variants-{{ section.id }}"
              class="select__select"
              form="{{ product_form_id }}">
              {%- for variant in product.variants -%}
                <option
                  {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                  {% if variant.available == false %}disabled{% endif %}
                  value="{{ variant.id }}">
                  {{ variant.title }}
                  {%- if variant.available == false %}
                    - {{ 'products.product.sold_out' | t }}{% endif %}
                  - {{ variant.price | money | strip_html }}
                </option>
              {%- endfor -%}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      </noscript>

      {%- when 'buy_buttons' -%}
      <div class="add-cart-2 flex items-center justify-center gap-2 mt-3">
        {% if block.settings.show_quantity and product.available == true %}
          <div class="border rounded-lg w-fit h-fit py-2 md:px-3 px-1.5" {{ block.shopify_attributes }}>
            <product-quantity
              data-max-quantity={{product.selected_or_first_available_variant.inventory_quantity}}
              data-product="{{product.id}}"
              class="flex items-center justify-center m-auto quantity">
              <button
                class="p-2 no-js-hidden"
                name="minus"
                type="button">
                {% render 'icon-minus' %}
              </button>
              <input
                class="bg-transparent text-xs  md:text-base font-bold md:max-w-[50px] max-w-[20px] text-center"
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                min="1"
                value="1"
                form="{{ product_form_id }}">
              <button
                class="p-2 no-js-hidden"
                name="plus"
                type="button">
                {% render 'icon-plus' %}
              </button>
            </product-quantity>
          </div>
        {% endif %}

        <div
          id="buy-buttons"
          {{ block.shopify_attributes }}
          class="flex-1">
          <add-to-cart
            class=""
            {%- comment -%}
            Insert
            note
            pour
            flyer
            sur
            certains
            produits
            {%- endcomment -%}
            data-max-quantity={{product.selected_or_first_available_variant.inventory_quantity}}
            data-disabled="{% if product.available %}false{% else %}true{% endif %}"
            data-price-stroke="{{ product.compare_at_price | money_without_trailing_zeros }}"
            data-collection="{{ collection.title }}"
            data-currency="{{ shop.currency }}"
            data-title="{{ product.title }}"
            data-product="{{ product.id }}"
            data-discount="{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | divided_by: 100.00 }}{% else %}0.00{% endif %}"
            data-price="{{ product.selected_or_first_available_variant.price | divided_by: 100.00 }}"
            id="referenceDesktop"
            data-product="{{ product.id }}"
            data-variant="{{ product.selected_or_first_available_variant.id }}">
            <button disabled="{% if product.available %}false{% else %}true{% endif %}" class="{% unless product.available %}  bg-gray-medium text-black  {% else %} cursor-pointer !px-0 !py-0 text-white bg-{{ product-color }}  {% endunless %} w-full my-2  {% render "button", color: product-color, size: "large" %}">
              {% if product.available %}
                <div class="px-0 md:px-16 py-3 flex justify-center items-center">
                  <span class="block font-bold">Ajouter au panier</span>
                  <span class="px-1">-</span>
                  <span
                    data-price
                    data-dynamic-price
                    class="block font-bold">{{ product.price | money_without_trailing_zeros }}</span>
                  {%- if product.compare_at_price != blank -%}
                    <span data-price-stroke class="block ml-2 text-xs line-through">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                  {%- endif -%}
                </div>
              {% else %}
                Stocks épuisés
              {% endif %}
            </button>
          </add-to-cart>

<!-- Just Button  -->
            <just-pay-button 
             theme="default"
             default_variant="{{product.selected_or_first_available_variant.id}}"
             default_available="{{product.selected_or_first_available_variant.available}}"
             product_id="{{ product.id }}" 
             product_handle="{{ product.handle }}"                        
             className="just-btn just-btn-product top"
             app_id="bb4d5e79-c36d-499d-a2da-801217b5c5f7" 
             domain="Popit"
             source="product">
            </just-pay-button>
    	    <style>
	        .add-cart-2 just-pay-button::part(just-button) {
                font-family: inherit;
                font-weight: 700;
                font-size: 1rem;
                border-radius: 0.5rem;
                text-transform:inherit;
                height: 50px;
              }
    	    </style>
<!-- End Of Just Button  -->
          
          {% if block.settings.show_dynamic_checkout %}
            {{ form | payment_button }}
          {% endif %}


          {% comment %}
            {% unless product.available %}
            <a class="klaviyo-bis-trigger block !w-full !my-2 GrotesqueBold text-white mb-3 text-center {% render "button", size: "large", color:"primary" %}" href="#">Créer une alerte</a>
            {% endunless %}
          {% endcomment %}

        </div>

      </div>


    {%- endcase -%}
  {%- endfor -%}

</div>
<style>

  input.radio-variant-circle[type="radio"]:checked + label > div {
    background: {{ product_color }}
     !important;
    border-color: {{ product_color }}
     !important;
    color: white !important;
    transition-duration: 0.3s;
  }

  input.radio-variant-circle[type="radio"]:checked + label > div > h5 {
    color: white !important;
  }

  input.radio-variant-circle-sticky[type="radio"]:checked + label > div {
    background: {{ product_color }}
     !important;
    border-color: {{ product_color }}
     !important;
    color: white !important;
    transition-duration: 0.3s;
  }

  input.radio-variant-circle-sticky[type="radio"]:checked + label > div > h5 {
    color: white !important;
  }

  .delivery-text span,
  .delivery-text b,
  .delivery-text strong {
    color: #38BC8A;
  }
</style>