{% if product.tags contains "sommeil" %}
  {% assign product-color = "violet" %}
  {% assign product_color = "#4F2674" %}
{% endif %}

<script>
  let stickyCart = document.querySelector('#sticktCart');
  let referenceMobile = document.querySelector('#referenceMobile');
  let referenceDesktop = document.querySelector('#referenceDesktop');
  let reference


  window.addEventListener("scroll", () => {
    function checkVisible() {
      if (! referenceMobile) {
        referenceMobile = document.querySelector('#referenceMobile');
      }
      if (! referenceDesktop) {
        referenceDesktop = document.querySelector('#referenceDesktop');
      }

      reference = window.innerWidth < 768
        ? referenceMobile
        : referenceDesktop;

      var rect = reference.getBoundingClientRect();
      console.log(rect.top)
      var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
      if (window.scrollY < rect.top) {
        return true
      }
      return !(rect.bottom < 0 || rect.top - viewHeight >= 0);
    }
    if (! stickyCart) {
      stickyCart = document.querySelector('#sticktCart');
    }
    console.log(checkVisible())
    if (checkVisible()) {
      stickyCart.style.transform = "translateY(100%)"
    } else {
      stickyCart.style.transform = "translateY(-0%)"
    }

  }, {passive: true})
</script>


<div
  id="sticktCart"
  style="z-index: 40; transform:translateY(100%);"
  class="fixed bottom-0 left-0 flex items-center justify-between w-screen gap-5 px-2 py-2 transition-all bg-white shadow md:px-10">
  <div class="items-center hidden gap-4 rounded-sm md:flex">
    <img
      class="aspect-square w-[68px] h-[68px]"
      src="{{product.featured_image | image_url }}"
      alt="product">
    <div class="flex flex-col justify-center">
      <div class="flex items-center gap-2">
        <p class="GroteskBold text-sm uppercase">{{ product.title }}</p>
        <div class="hidden gap-2 lg:flex ">
          {% render "product-tag-icons", product: product, size: small %}
        </div>
      </div>
      <div class="text-sm text-{{ product-color }} line-clamp-2 h-[40px] mt-1">
        {{ product.metafields.global.weight }}
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center w-full max-w-full gap-2 pr-3 md:w-fit md:min-w-[450px]">
    {% if product.available == true %}
      <div class="border-violet border-2 rounded-md w-fit h-fit py-2 px-3 hidden md:block" {{ block.shopify_attributes }}>
        <product-quantity
          data-max-quantity={{product.selected_or_first_available_variant.inventory_quantity}}
          data-product="{{product.id}}"
          class="flex items-center justify-center m-auto quantity">
          <button
            class="p-2 no-js-hidden"
            name="minus"
            type="button">
            {% render 'icon-minus' %}
          </button>
          <input
            class="text-acajou bg-transparent text-base font-bold max-w-[50px] text-center"
            type="number"
            name="quantity"
            id="Quantity-{{ section.id }}"
            min="1"
            value="1"
            form="{{ product_form_id }}">
          <button
            class="p-2 no-js-hidden"
            name="plus"
            type="button">
            {% render 'icon-plus' %}
          </button>
        </product-quantity>
      </div>
    {% endif %}

    <div
      id="buy-buttons"
      {{ block.shopify_attributes }}
      class="flex-1 max-w-full ">
      <add-to-cart
        data-product="{{ product.id }}"
        class="{% unless product.available %} hidden {% endunless %}"
        data-max-quantity={{ product.selected_or_first_available_variant.inventory_quantity }}
        data-disabled="{% if product.available %}false{% else %}true{% endif %}"
        class="flex justify-center w-full"
        data-price-stroke="{{ product.compare_at_price | money_without_trailing_zeros }}"
        data-price="{{ product.price | money_without_trailing_zeros }}"
        data-product="{{product.id}}"
        data-variant={{product.selected_or_first_available_variant.id}}>
        <button disabled="{% if product.available %}false{% else %}true{% endif %}" class="w-full my-2 cursor-pointer !px-0 !py-0 {% render "button", size: "large", color:"primary" %}">
          {% if product.available %}
            <div class="px-16 py-3 flex justify-center items-center">
              <span class="block">Ajouter au panier</span>
              <span class="px-1">-</span>
              <span
                data-price
                data-dynamic-price
                class="block">{{ product.price | money_without_trailing_zeros }}</span>
              {%- if product.compare_at_price != blank -%}
                <span data-price-stroke class="block ml-2 text-xs line-through Grotesque">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
              {%- endif -%}
            </div>
          {% else %}
            Stocks épuisés
          {% endif %}
        </button>
      </add-to-cart>

      {% if block.settings.show_dynamic_checkout %}
        {{ form | payment_button }}
      {% endif %}

    </div>
  </div>
</div>
<!-- end sticky button -->


<div class="h-full w-11/12 lg:w-full pr-0 lg:pr-10">

  <!-- product blocks -->
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
      {% render block %}

      {%- when 'subtitle' -%}
        <p class="my-2 text-sm text-{{ product-color }} italic" {{ block.shopify_attributes }}>
        {% comment %}
          {{ product.metafields.global.product_subtitle.value }}
        {% endcomment %}
        Sportifs / Récupération musculaire
      </p>
      {%- when 'vendor' -%}
      <h5 class="my-2 text-sm uppercase md:block" {{ block.shopify_attributes }}>
        {{ product.vendor }}
      </h5>

      {%- when 'title' -%}

      <h1 class="text-3xl font-bold text-{{ product-color }}" {{ block.shopify_attributes }}>
        {{ product.title | escape }}
      </h1>

      {%- when 'text' -%}
      <p class="product__text {% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
        {{- block.settings.text -}}
      </p>

      {%- when 'price' -%}
      <div
        class="flex items-center my-2"
        id="price-{{ section.id }}"
        role="status"
        {{ block.shopify_attributes }}>
        {%- if product.compare_at_price > product.price -%}
          <h5 class="text-2xl font-extrabold">{{ product.price | money }}</h5>
          <span class="ml-2 text-xl font-light line-through">{{ product.compare_at_price | money }}</span>
        {% else %}
          <h5 class="text-2xl font-extrabold">{{ product.price | money }}</h5>
        {% endif %}
      </div>

      {%- when 'description' -%}
      {%- if product.description != blank -%}
        <div class="mt-2.5 md:mt-4 text-sm product-description">
          {{ product.description }}
        </div>
      {%- endif -%}

      {%- when 'short_description' -%}
      {% if product.metafields.global.short_description != blank %}
        <div class="mt-2.5 md:mt-4 text-sm text-acajou">
          {{ product.metafields.global.short_description }}
        </div>
      {% endif %}

      {%- when 'stars' -%}
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0681/5494/9926/files/Frame_8722.png?v=1671549363" alt="">
      </div>

      {%- when 'weight' -%}
      {% if product.metafields.global.weight != blank %}
        <div class="my-2 md:my-1.5 text-xs">
          <p>{{ product.metafields.global.weight }}</p>
        </div>
      {% else %}
        <div class="my-2 md:my-1.5 text-xs">{{ block.settings.weight_text }}</div>
      {% endif %}

      {%- when 'contenance' -%}
      {% if product.metafields.global.contenance != blank %}
        <div class="flex items-center my-2 text-sm md:my-3">
          {% render 'icon-bulb' %}
          <p class="ml-2">{{ product.metafields.global.contenance }}</p>
        </div>
      {% endif %}

      {%- when 'delivery_note' -%}
      <div>
        DELIVERY
      </div>


      {%- when 'variant_picker' -%}
      {%- unless product.has_only_default_variant -%}
        <tail-variants
          data-product="{{product.id}}"
          class="no-js-hidden"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}">
          {%- for option in product.options_with_values -%}
            {% comment %} <div class="mr-5 text-[15px] min-w-fit mb-2">{{ option.name }}:
            </div> {% endcomment %}

            <div class="flex justify-between gap-2 my-5">
              {% assign counter = 0 %}
              {%- for value in option.values -%}
                <div class="w-1/3">
                  <input
                    data-position="{{ option.position }}"
                    type="radio"
                    id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                    name="{{ option.name }}"
                    value="{{ value | escape }}"
                    form="{{ product_form_id }}"
                    class="radio-variant-circle w-0 h-0 opacity-0 md:collapse hidden"
                    {% if option.selected_value == value %}checked{% endif %}>
                  <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                    <div class="variant-box block py-3 bg-white bg-opacity-60 text-sm rounded-lg cursor-pointer border border-violet-light text-{{ product-color }} text-center">
                      <h5 class="text-base text-{{ product-color }}">{{ value }}</h5>
                      <!-- workaround to show variant price -->
                      {% assign counter = counter | plus: 1 %}
                      {%- for variant in product.variants -%}{% endfor %}
                      {% if counter == 1 %}
                        <div class="flex justify-center items-center">
                          <span class="text-base">{{ product.variants[0].price | money }}</span>
                          <span class="ml-2 text-xs font-light line-through">{{ product.variants[0].compare_at_price | money }}</span>
                        </div>
                      {% elsif counter == 2 %}
                        <div class="flex justify-center items-center">
                          <span class="text-base">{{ product.variants[1].price | money }}</span>
                          <span class="ml-2 text-xs font-light line-through">{{ product.variants[1].compare_at_price | money }}</span>
                        </div>
                      {% elsif counter == 3 %}
                        <div class="flex justify-center items-center">
                          <span class="text-base">{{ product.variants[2].price | money }}</span>
                          <span class="ml-2 text-xs font-light line-through">{{ product.variants[2].compare_at_price | money }}</span>
                        </div>
                      {% endif %}
                    </div>
                  </label>
                </div>
              {%- endfor -%}
            </div>
          {%- endfor -%}
          <script id="product-variants" type="application/json">
            {{ product.variants | json }}
          </script>
        </tail-variants>

        <script type="application/json">
          {{ product.variants | json }}
        </script>
      {%- endunless -%}

      <noscript class="product-form__noscript-wrapper-{{ section.id }}">
        <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
          <div class="select">
            <select
              name="id"
              id="Variants-{{ section.id }}"
              class="select__select"
              form="{{ product_form_id }}">
              {%- for variant in product.variants -%}
                <option
                  {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                  {% if variant.available == false %}disabled{% endif %}
                  value="{{ variant.id }}">
                  {{ variant.title }}
                  {%- if variant.available == false %}
                    - {{ 'products.product.sold_out' | t }}{% endif %}
                  - {{ variant.price | money | strip_html }}
                </option>
              {%- endfor -%}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      </noscript>

      {%- when 'buy_buttons' -%}
      <div class="add-cart-2 flex items-center justify-center gap-2 mt-5 md:mt-6">
        {% if block.settings.show_quantity and product.available == true %}
          <div class="border rounded-lg w-fit h-fit py-2 md:px-3 px-1.5" {{ block.shopify_attributes }}>
            <product-quantity
              data-max-quantity={{product.selected_or_first_available_variant.inventory_quantity}}
              data-product="{{product.id}}"
              class="flex items-center justify-center m-auto quantity">
              <button
                class="p-2 no-js-hidden"
                name="minus"
                type="button">
                {% render 'icon-minus' %}
              </button>
              <input
                class="bg-transparent text-xs  md:text-base font-bold md:max-w-[50px] max-w-[20px] text-center"
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                min="1"
                value="1"
                form="{{ product_form_id }}">
              <button
                class="p-2 no-js-hidden"
                name="plus"
                type="button">
                {% render 'icon-plus' %}
              </button>
            </product-quantity>
          </div>
        {% endif %}

        <div
          id="buy-buttons"
          {{ block.shopify_attributes }}
          class="flex-1">
          <add-to-cart
            class=""
            {%- comment -%}
            Insert
            note
            pour
            flyer
            sur
            certains
            produits
            {%- endcomment -%}
            data-max-quantity={{product.selected_or_first_available_variant.inventory_quantity}}
            data-disabled="{% if product.available %}false{% else %}true{% endif %}"
            data-price-stroke="{{ product.compare_at_price | money_without_trailing_zeros }}"
            data-collection="{{ collection.title }}"
            data-currency="{{ shop.currency }}"
            data-title="{{ product.title }}"
            data-product="{{ product.id }}"
            data-discount="{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | divided_by: 100.00 }}{% else %}0.00{% endif %}"
            data-price="{{ product.selected_or_first_available_variant.price | divided_by: 100.00 }}"
            id="referenceDesktop"
            data-product="{{ product.id }}"
            data-variant="{{ product.selected_or_first_available_variant.id }}">
            <button disabled="{% if product.available %}false{% else %}true{% endif %}" class="{% unless product.available %} hidden {% endunless %} w-full my-2 cursor-pointer !px-0 !py-0 text-white bg-{{ product-color }} {% render "button", size: "large" %}">
              {% if product.available %}
                <div class="px-16 py-3 flex justify-center items-center">
                  <span class="block">Ajouter au panier</span>
                  <span class="px-1">-</span>
                  <span
                    data-price
                    data-dynamic-price
                    class="block">{{ product.price | money_without_trailing_zeros }}</span>
                  {%- if product.compare_at_price != blank -%}
                    <span data-price-stroke class="block ml-2 text-xs line-through">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                  {%- endif -%}
                </div>
              {% else %}
                Stocks épuisés
              {% endif %}
            </button>
          </add-to-cart>

          {% if block.settings.show_dynamic_checkout %}
            {{ form | payment_button }}
          {% endif %}

          {% unless product.available %}
            <a class="klaviyo-bis-trigger block !w-full !my-2 GrotesqueBold text-white mb-3 text-center {% render "button", size: "large", color:"primary" %}" href="#">Créer une alerte</a>
          {% endunless %}
        </div>

      </div>


    {%- endcase -%}
  {%- endfor -%}

</div>
<style>
  {% if product.tags contains "sommeil" %}
    .variant-box {
      background: linear-gradient(0deg, #BC86BA, #BC86BA), linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    }
  {% else %}
    .variant-box {
      background: #4B9B7D;
    }
  {% endif %}

  input.radio-variant-circle[type="radio"]:checked + label > div {
    background: {{ product_color }}
     !important;
    border-color: {{ product_color }}
     !important;
    color: white !important;
    transition-duration: 0.3s;
  }
  input.radio-variant-circle[type="radio"]:checked + label > div > h5 {
    color: white !important;
  }
</style>