{% assign steps = section.blocks | map: 'settings' | sort: "amount" | where: "amount" %}
{% assign lastStep = steps | sort: "amount" | where: "amount" | last %}
{%- assign cartTotal = 0 -%}
{% assign total = 0 %}


{% for i in cart.items %}
  {% if i.product.gift_card? == false %}
    {% assign total = total | plus: i.final_line_price %}
    {% assign cartTotal = cartTotal | plus: i.final_line_price %}
  {% endif %}
{% endfor %}

{% assign total = total | divided_by: 100 %}
{% assign previousAmount = 0 %}
{% assign progression = 0 %}

{% comment %} <script>
  document.addEventListener("DOMContentLoaded", () => {
  console.log("cart updated");
  st

  });
</script> {% endcomment %}<div class="flex flex-col flex-col-reverse p-2">


  <div class="w-full mt-2 ">
    <div class="text-sm text-center text-sauge mt-2" data-side-cart-progression-text>

      {% for step in steps %}
        {% assign amount = step.amount | floor %}
        {% if total >= previousAmount and total <= amount %}
          {% assign progression = cartTotal | divided_by: amount %}
          {% if total == amount %}
            {% assign progression = 100 %}
            {{ step.text_after }}
          {% else %}
            {% capture rest %}
              {% assign restAmount = total | minus: amount | times: -1 %}
              <b>{{ restAmount }}€</b>
            {% endcapture %}
            {{ step.text_before | replace: "((rest))", rest }}
          {% endif %}
        {% endif %}
        {% assign previousAmount = amount %}
      {% endfor %}


      {% if total >= lastStep.amount %}
        {% assign progression = 100 %}
        {{ lastStep.text_after }}
      {% endif %}
    </div>

  </div>


  <div class="w-full relative  flex items-center">
    <div class="w-full bg-[#81baa4] rounded-md overflow-hidden relative h-1">
      <div
        data-side-cart-progression-bar
        class="absolute w-full h-1 origin-left rounded-md bg-white progress-bar"
        style="transform: scaleX({{progression}}%);"></div>
    </div>
    <div class="flex w-full absolute items-center justify-around"></div>
    <div
      data-side-cart-progression-cart
      {% if progression <= 5 %}{% assign progression = 5 %}{% endif %}
      style="left: {{progression | minus: 5 }}%;"
      class="rounded-full -translate-x-2 absolute  bg-white border-[1px] border-white w-7 h-7 flex items-center justify-center">
      {% render 'icon-progress-cart' %}
    </div>
  </div>
</div>