{% comment %}
  {%- if section.settings.show_carousel_reassurance -%}
  <tail-carousel
  data-auto-play="5000"
  log="true"
  slidesToShow="xs:1 sm:1 lg:1 xl:1"
  class="flex-1 w-full py-2 px-4 bg-green-light">
  <carousel-container class="">
  <carousel-content class="w-full">
  {% for block in section.blocks %}
  {%- if block.type == "reassurances" -%}
  <carousel-panel class="">
  <div class="w-full">
  <div class="flex items-center gap-4 justify-center">
  {% if block.settings.svg != blank %}
  <img
  src="{{ block.settings.svg }}"
  class="object-contain !max-w-max"
  alt="{{ block.settings.svg.alt }}">
  {% else %}
  <img
  src="{{ block.settings.image | img_url: 'master' }}"
  class="lazy object-contain !max-w-[30px]"
  alt="{{ block.settings.image.alt }}">
  {% endif %}
  <p class="block text-sm text-green">{{ block.settings.text }}</p>
  </div>
  </div>
  </carousel-panel>
  {%- endif -%}
  {% endfor %}
  </carousel-content>
  </carousel-container>

  </tail-carousel>
  {%- endif -%}
{% endcomment %}

<tail-marquee class="flex relative overflow-x-hidden bg-green-light side-cart-carousel">
  <marquee-content style="animation-duration:30s " class="items-center flex py-3 animate-marquee whitespace-nowrap gap-10 pr-10">
    {%- for block in section.blocks -%}
      {%- if block.type == "reassurances" -%}
        <div class="min-w-fit">
          <div class="flex items-center gap-4">
            {% if block.settings.svg != blank %}
              <img
                src="{{ block.settings.svg }}"
                class="object-contain !max-w-max"
                alt="{{ block.settings.svg.alt }}">
            {% else %}
              <img
                src="{{ block.settings.image | img_url: 'master' }}"
                class="lazy object-contain !max-w-[30px]"
                alt="{{ block.settings.image.alt }}">
            {% endif %}
            <p class="block text-sm text-green">{{ block.settings.text }}</p>
          </div>
        </div>
      {% endif %}
    {%- endfor -%}
  </marquee-content>
</tail-marquee>
<style>
  .side-cart-carousel{
    min-width: 50px;
  }
</style>

{% comment %}
  <div class="w-full py-4 bg-green-light">
  <div class="flex items-center relative overflow-hidden overflow-x-scroll snap-mandatory snap-x gap-7 scrollbar-none px-6">
  {%- for block in section.blocks -%}
  {%- if block.type == "reassurances" -%}
  <div class="min-w-fit">
  <div class="flex items-center gap-4">
  {% if block.settings.svg != blank %}
  <img
  src="{{ block.settings.svg }}"
  class="object-contain !max-w-max"
  alt="{{ block.settings.svg.alt }}">
  {% else %}
  <img
  src="{{ block.settings.image | img_url: 'master' }}"
  class="lazy object-contain !max-w-[30px]"
  alt="{{ block.settings.image.alt }}">
  {% endif %}
  <p class="block text-sm text-green">{{ block.settings.text }}</p>
  </div>
  </div>
  {% endif %}
  {%- endfor -%}
  </div>
  </div>
{% endcomment %}