{% assign product = item.product %}
{% assign variant = item.variant %}


<div data-line-item-variant="{{ item.variant_id }}" class="flex items-center py-5 bg-white border-b border-gray-300 relative gap-4">
  <div class="rounded-md w-[100px] flex items-center justify-center py-2">
    <img
      src="{{variant.featured_image | image_url: width: 400 }}"
      alt="{{variant.featured_image.alt}}"
      class="max-w-[100px] object-cover rounded-l-md lazy"
      loading="lazy">
  </div>
  <div class="flex-1">

    <span data-title class="font-body-text mb-1 text-base font-bold line-clamp-1 max-w-[90%]">{{ product.title }}</span>
    {% if product.has_only_default_variant == false %}
      <p data-variant class="font-body-text mb-1 text-xs line-clamp-1 max-w-[90%]">{{ variant.title }}</p>
    {% endif %}

    {%- unless item.properties == empty %}
      {% for property in item.properties %}
        {% assign first_character_in_key = property.first | truncate: 1, '' %}
        {% unless property.last == blank or first_character_in_key == '_' %}
          <p class="font-body-text mb-1 text-xs line-clamp-1 max-w-[90%]">{{ property.first }}:
          {% if property.last contains '/uploads/' %}
            <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
          {% else %}
            {{ property.last }}
          {% endif %}
          </p>
        {% endunless %}
      {% endfor %}
    {% endunless -%}

    {% comment %} <span onclick="removeKdo()" class="absolute top-2 right-2 text-sm cursor-pointer hover:ring-1 ring-0 transition-all rounded-full p-1.5">
      {% render 'icon-trash-can' %}
    </span> {% endcomment %}

    <!-- Metafield Cart Subtitle -->
    {%- if product.metafields.product.cart_subtitle != blank -%}
      <div class="text-xs line-clamp-2 max-w-[90%] max-h-[32px] overflow-hidden text-gray-400 font-light">
        {{ product.metafields.product.cart_subtitle }}
      </div>
    {%- endif -%}

    <div class="flex items-center justify-between mt-3">
      {% unless item.properties.is == "free" %}
        <cart-item-quantity
          data-max-quantity={{product.selected_or_first_available_variant.inventory_quantity}}
          class="flex justify-around items-center border-[1px] border-green rounded-lg h-[32px] w-[100px] group"
          data-quantity="{{ item.quantity }}"
          data-product="{{ product.id }}"
          data-title="{{ product.title }}{% unless item.variant.title contains 'Default' %} - {{ item.variant.title }}{% endunless %}"
          data-discount="{% if product.compare_at_price > product.price %}{{ product.compare_at_price | minus: product.price | divided_by: 100.00 }}{% else %}0.00{% endif %}"
          data-price="{{ product.price | divided_by: 100.00 }}"
          data-variant="{{ item.variant_id }}">
          <button name="minus" class="p-2 text-center">
            {%- render 'icon-minus', color: "green" -%}
          </button>
          <input
            value="{{ item.quantity }}"
            class="w-5 text-base font-bold text-center bg-transparent focus:outline-none"
            type="number">
          <button name="plus" class="h-full p-2 text-center">
            {%- render 'icon-plus', color: "green" -%}
          </button>
        </cart-item-quantity>
      {% endunless %}
      <!-- Price -->
      {% if isFree != true %}
        <div class="mt-1 ml-auto text-sm" data-cart-price={{item.variant_id }}>
          {% if variant.compare_at_price == nil %}
            <span data-price class="font-bold">
              {{ variant.price | money_without_trailing_zeros }}
            </span>
          {% else %}
            <span data-price class="font-bold">
              {{ variant.price | money_without_trailing_zeros }}
            </span>
            <span data-compare-price class="line-through text-[-1px]">
              {{ variant.compare_at_price | money_without_trailing_zeros }}
            </span>

          {% endif %}
        </div>
      {% else %}
        <div data-price class="mt-1 ml-auto text-sm font-bold">
          {{ item.price | money_without_trailing_zeros }}
        </div>
      {% endif %}
    </div>
  </div>
</div>