{% if show_card %}
  <div
    class="empty-card relative bg-gradiant rounded-lg p-2 sm:p-3 md:p-5 flex items-center gap-6">
    <div
      class="">
      {% if image != blank %}
        <img
          class="lazy mx-auto max-w-[80px]"
          src="{{ image | img_url: 'master'}}"
          alt="{{ image.alt }}"
          loading="lazy"
          style="max-width:{{ image.image_width }}px">
      {% else %}
        {{ 'image' | placeholder_svg_tag }}
      {% endif %}
      </div>
      <div
        class="">
        {% if subtitle != blank %}
          <h4
            class="text-sm font-bold mb-2">{{ subtitle }}</h4>
        {% endif %}

        {% if title != blank %}
          <div
            class="text-sm font-light mb-2"
            style="color:{{ section.settings.color }}">{{ title }}</div>
        {% endif %}

         {% if label != blank %}
         <div class="text-[10px] py-1 px-2 text-white font-bold bg-orange w-fit rounded-md">{{ label }}</div>
       {% endif %}

        {% if ctaLink != blank %}
          <a
            class="absolute bg-white p-2 bottom-2 right-2 rounded-md block"
            href="{{ ctaLink }}">{% render 'icon-arrow-green' %}</a>
        {% endif %}
      </div>
    
  </div>
{% endif %}
{% if show_card_2 %}
  <div
    class="relative w-full rounded-lg p-2 sm:p-3 md:p-5 text-center flex flex-col justify-center items-center shadow-lg bg-white">
    {% if label_2 != blank %}
      <div
        class="absolute top-3 right-3 text-[10px] py-1 px-2 text-white font-bold bg-orange w-fit rounded-md mb-2 mx-auto md:mx-0">{{ label_2 }}</div>
    {% endif %}
    <div
      class="w-full">
      {% if image_2 != blank %}
        <img
          class="lazy mx-auto max-w-[160px]"
          src="{{ image_2 | img_url: 'master'}}"
          alt="{{ image_2.alt }}"
          loading="lazy"
          style="max-width:{{ image_2.image_width }}px">
      {% else %}
        {{ 'image' | placeholder_svg_tag }}
      {% endif %}
      <div
        class="text-center mt-3">
        {% if title_2 != blank %}
          <div
            class="text-sm font-bold mt-3">{{ title_2 }}</div>
        {% endif %}

        {% if cta_2 != blank %}
          <a
            class="block mt-3 md:mt-5 {% render "button", size:"medium", color:"green", fullWidth: true %}"
            href="{{ ctaLink_2 }}">{{ cta_2 }}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<style>
  .empty-card {
    background: linear-gradient(168.52deg, #4B9B7D 0%, rgba(75, 155, 125, 0.8) 35.48%, #D7E6AF 59.33%, rgba(215, 230, 175, 0.5) 94.77%);
  }
</style>