<div class="w-11/12 max-w-screen-sm m-auto my-10 md:my-16">
  <div class="relative">
  <h1 class="text-2xl text-center mb-5 uppercase">Bienvenue</h1>
  <div class="text-acajou">
    {%- if recover_success == true -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        {{ 'customer.recover_password.success_title' | t }}
      </h3>
    {%- endif -%}
    {%- form 'customer_login' -%}
      <!-- errors -->
      {%- if form.errors -%}
      <h3 class="font-bold text-sm underline text-red-500 mb-2">{{ form.errors | default_errors }}</h3>
      {%- endif -%}

      <!-- email -->
      <div class="mb-5">
        <label for="CustomerEmail" class="block relative left-1 mb-1 text-sm">
          Adresse e-mail*
        </label>
        <input
          type="email"
          name="customer[email]"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
          placeholder="Email"
          class="text-[17px] placeholder-chataigne placeholder-opacity-60 w-full border-b border-acajou p-2 pl-0 focus-within:border-acajou focus-within:outline-none bg-transparent focus-within:shadow-none"
        >
      </div>

     <!-- Password -->
      {%- if form.password_needed -%}
        <div class="mb-5">
          <label for="CustomerPassword" class="block relative left-1 mb-1 text-sm">
            Mot de passe*
          </label>
          <input
            type="password"
            value=""
            name="customer[password]"
            id="CustomerPassword"
            autocomplete="current-password"
            {% if form.errors contains 'form' %} aria-invalid="true" {% endif %}
            placeholder="Mot de passe"
            class="text-[17px] placeholder-chataigne placeholder-opacity-60 w-full border-b border-acajou p-2 pl-0 focus-within:border-acajou focus-within:outline-none bg-transparent focus-within:shadow-none"
          >
        </div>
      {%- endif -%}
      
      <!-- popup--password -->
      <div data-page-password-reset>
          <span class="mt-2 block cursor-pointer text-left underline italic text-[13px]">
            {{ 'customer.login_page.forgot_password' | t }}
          </span>
      </div data-page-password-reset>

      <!-- Button -->
      <div class="w-full flex mx-auto">
        <button type="submit" class="w-full mx-auto mt-5 mb-5 border-acajou tracking-wider border  border-solid px-5 py-2 font-semibold text-base rounded-3xl bg-acajou hover:bg-transparent text-white hover:text-acajou cursor-pointer">
          Me connecter
        </button>
      </div>
      <div class="flex justify-center text-sm underline">
        <a class="block" href="{{ routes.account_register_url }}">
          {{ 'customer.login_page.create_account' | t }}
        </a>
      </div>


    {%- endform -%}
  </div>
{%- comment -%} <br>
<hr>
<br>
  {%- if shop.checkout.guest_login -%}
    <div class="flex flex-col items-center justify-center gap-3">
      <h2 class="uppercase">{{ 'customer.login_page.guest_title' | t }}</h2>
      {%- form 'guest_login' -%}
       <button type="submit" class="border-acajou tracking-wider border mb-5 border-solid px-5 py-2 font-semibold text-base rounded-3xl bg-acajou hover:bg-transparent text-white hover:text-acajou cursor-pointer">
                {{ 'customer.login_page.sign_in' | t }}
              </button>
      {%- endform -%}
    </div>
  {%- endif -%}
 </div>
</div> {%- endcomment -%}
<script>
  var page_password_reset_button = document.querySelector('[data-page-password-reset]');
  var customer_popup = document.querySelector('[data-customer-popup]');

  page_password_reset_button.addEventListener('click', () => {
    if(!document.querySelector('[data-password]').classList.contains('!block')){
      document.querySelector('[data-password]').classList.add('!block');
      document.querySelector('[data-login]').classList.remove('!block');
    }
    customer_popup.querySelector('modal-trigger').click();
  });
</script>
<style>
  /* style for recharge  */
  #rc_login{
    font-size: 14px;;
  } 

</style>
