{% assign s = section.settings %}
<div class="py-16 {% if section.settings.section_style == 'boxed' %} lg:w-11/12 lg:max-w-7xl lg:mx-auto lg:my-10 lg:rounded-lg {% endif %}" style="background-color: {{ section.settings.bg_color }}">
  <div class="">
    {% if s.title != blank or s.subtitle != blank or s.image != blank %}
      <div class="w-11/12 mx-auto text-center mb-10">
        {% if s.title != blank %}
          <h2 class="text-[28px] leading-[37px] md:text-[32px] md:leading-[42px] mb-5" style="color:{{ section.settings.color }}">{{ s.title }}</h2>
        {% endif %}

        {% if s.subtitle != blank %}
          <div class="text-base" style="color:{{ section.settings.color }}">{{ s.subtitle }}</div>
        {% endif %}

        {% if s.cta != blank %}
          <a class="block mt-2 accent-color underline font-bold text-sm" href="{{ s.ctaLink }}">{{ s.cta }}</a>
        {% endif %}

        {% if s.image != blank %}
          <div class="w-11/12 mx-auto">
            <img
              class="lazy mx-auto w-full"
              src="{{ s.image | img_url: 'master'}}"
              alt="{{ s.image.alt }}"
              loading="lazy"
              style="max-width:{{ s.image_width }}px">
          </div>
        {% endif %}

      </div>
    {% endif %}

    {%- if section.blocks.size > 0 -%}
      <div class="flex md:justify-center relative overflow-hidden overflow-x-scroll snap-mandatory snap-x gap-3 md:gap-5 lg:gap-10 scrollbar-none px-4">
        {%- for block in section.blocks -%}
          <div class="min-w-[150px] md:min-w-0 text-center">
            {% if block.settings.image != blank %}
              <img
                class="lazy mx-auto"
                src="{{ block.settings.image | img_url: 'master'}}"
                alt="{{ block.settings.image.alt }}"
                loading="lazy"
                style="max-width:{{ block.settings.image_width }}px">
            {% endif %}

            {% if block.settings.title != blank %}
              <p class="text-base font-bold mt-4">{{ block.settings.title }}</p>
            {% endif %}

            {% if block.settings.text != blank %}
              <div class="text-center text-sm mt-2 leading-4 font-light" style="color: {{ section.settings.color }}">
                {{ block.settings.text }}
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "Banner intro",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "section_style",
        "options": [
          {
            "value": "boxed",
            "label": "boxed"
          }, {
            "value": "default",
            "label": "Full width"
          }
        ],
        "default": "boxed",
        "label": "Section style"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "default": "À propos",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "default": "<p>Lorerm ipsum 2023.</p>",
        "label": "Subtitle"
      }, {
        "type": "text",
        "id": "cta",
        "label": "Button label",
        "default": "En savoir plus"
      }, {
        "type": "url",
        "id": "ctaLink",
        "label": "Link "
      }, {
        "type": "header",
        "content": "colors"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#edece6"
      }, {
        "type": "color",
        "id": "color",
        "label": "Text color",
        "default": "#1A1A1A"
      }
    ],
    "blocks": [
      {
        "name": "Block",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "range",
            "id": "image_width",
            "min": 50,
            "max": 150,
            "step": 1,
            "unit": "px",
            "label": "Image size",
            "default": 80
          }, {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "text",
            "default": "Garanti cruelty-free et sans matières animales",
            "label": "text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner intro"
      }
    ]
  }
{% endschema %}