<div class="text-center py-5" style="background-color: {{ section.settings.bg_color }}; color: {{ section.settings.color }};">
  {%- if section.settings.show_breadcrumbs -%}
    <div class="">
      {% render 'breadcrumbs', class: 'text-green-dark' %}
    </div>
  {% endif %}
  {%- if section.settings.title != blank -%}
    <h1 class="text-[2rem] leading-[2.3rem] md:text-[3.5rem] md:leading-[4rem] mb-3" style="color: {{ section.settings.color }};">
      {{- section.settings.title | escape -}}
    </h1>
  {% endif %}

  {%- if section.settings.description contains "<!--split-->" -%}
    {%- assign collection_description = section.settings.description | split: "<!--split-->" -%}
    <tail-details class="text-sm w-11/12 max-w-2xl m-auto">
      <details-part>
        <div class="text-sm">
          {{ collection_description | first }}
        </div>
      </details-part>
      <details-part>
        <div class="text-sm mt-3">
          {{ collection_description | last }}
        </div>
      </details-part>
      <see-more class="block mt-5 text-sm underline capitalize" style="color: {{ section.settings.color }};">Lire plus</see-more>
      <div class="text-center mt-3">
        <see-less class="hidden justify-center mt-5 text-sm underline capitalize" style="color: {{ section.settings.color }};">Lire moins</see-less>
      </div>
    </tail-details>

  {% elsif section.settings.description != blank -%}
    <div class="text-base mt-5">
      {{ section.settings.description }}
    </div>
  {%- endif -%}
</div>
{% schema %}
  {
    "name": "Collection Header",
    "settings": [

      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "default": true,
        "label": "Show breadcrumbs ?"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Tous nos produits"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Text",
        "info": "Include a <!--split--> to make two parts"
      },
      {
        "type": "header",
        "content": "colors"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#E3F2ED"
      }, {
        "type": "color",
        "id": "color",
        "label": "Text color",
        "default": "#005F3B"
      }
    ]
  }
{% endschema %}