{%- if product.metafields.product.question_1 != blank -%}
  <section class="my-10 md:my-16 product-faqs">
    <div class="w-11/12 max-w-3xl mx-auto">
      {% if section.settings.title != blank %}
        <h2 class="text-center text-lg md:text-4xl xl:text-5xl mb-8" style="color:{{ section.settings.title_color }}">
          {{ section.settings.title }}
        </h2>
      {% endif %}

      <accordion-group>
        {% assign i = 1 %}
        {% for block in section.blocks %}

          {% assign question = 'question_' | append: i %}
          {% assign metafield_question = product.metafields.product[question] %}

          {% assign answer = 'answer_' | append: i %}
          {% assign metafield_answer = product.metafields.product[answer] %}

          {% assign i = i | plus: 1 %}
          {% if metafield_question != blank %}
            <accordion-element class="w-full py-5 border-b last:border-none rounded-lg p-3">
              <accordion-trigger class="group">
                <accordion-header class="flex justify-between items-center">
                  <div class="flex-1 mr-2">
                    <span class="block text-sm first-letter:uppercase" style="color:{{ section.settings.title_accordion_color }}">
                      {{ metafield_question }}
                    </span>
                  </div>
                  <accordion-icon class="duration-150 group-transition-all origin-center h-[fit-content]">
                    <span class="icon-plus">{% render 'icon-accordion-plus', color: section.settings.title_accordion_color %}</span>
                    <span class="icon-minus hidden">{% render 'icon-accordion-minus', color: section.settings.title_accordion_color %}</span>
                  </accordion-icon>
                </accordion-header>
              </accordion-trigger>
              <accordion-content>
                <div class="text-sm mt-4" style="color:{{ section.settings.content_accordion_color }}">
                  {{ metafield_answer }}
                </div>
              </accordion-content>
            </accordion-element>
          {% endif %}
        {% endfor %}
      </accordion-group>
    </div>
  </section>
  <style>
    .product-faqs accordion-element[data-open = true] {
      background-color: #FAFAFA;
    }
  </style>
  {% if section.blocks.size > 0 %}
    <script type="application/ld+json">
      {
      "@context":"https://schema.org",
                                                                                                                                        "@type":"FAQPage",
                                                                                                                                        "mainEntity":[
      {% assign i = 1 %}
      {% for block in section.blocks -%}
        {% liquid 
                assign question = 'question_' | append: i
                assign metafield_question = product.metafields.global[question]

                assign answer = 'answer_' | append: i
                assign metafield_answer = product.metafields.global[answer]
                assign i = i | plus: 1
              -%}
        {
        "@type":"Question",
                                                                                                                                                                                        "name":"{{ metafield_question }}",
        "acceptedAnswer":
                                                                                                                                                                                        {
                                                                                                                                                                                          "@type":"Answer",
                                                                                                                                                                                          "text":"{{ metafield_answer }}"
        }
                                                                                                                                                                                      },
      {%- endfor %}
      ]
      }
    </script>
  {% endif %}
{%- endif -%}

<style>
  accordion-element[data-open="true"] .icon-plus {
    display: none;
  }
  accordion-element[data-open="true"] .icon-minus {
    display: block;
  }
</style>

{% schema %}
  {
    "name": "FAQ product",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "FAQ",
        "label": "Title FAQ"
      },
      {
        "type": "header",
        "content": "colors"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title color",
        "default": "#201A1C"
      },
      {
        "type": "color",
        "id": "title_accordion_color",
        "label": "Title accordion color",
        "default": "#201A1C"
      }, {
        "type": "color",
        "id": "content_accordion_color",
        "label": "Text accordion color",
        "default": "#201A1C"
      }
    ],
    "blocks": [
      {
        "name": "FAQ Accordion",
        "type": "block",
        "settings": [
          {
            "type": "paragraph",
            "content": "Every block corresponds to product.metafields.global.question and product.metafields.global.answer"
          }
        ]
      }
    ]
  }
{% endschema %}