{% assign collection = section.settings.collection %}
  <div class="my-10 w-11/12 max-w-7xl mx-auto">

  <!-- collection title and description -->
  <div class="text-center py-5">
    {%- if section.settings.show_collection_title -%}
      <h2 class="text-[2rem] leading-[2.3rem] md:text-[3.5rem] md:leading-[4rem]" style="color:{{ section.settings.title_color }}">
        {{- collection.title | escape -}}
      </h2>
    {% endif %}

    <!-- collection size -->
    <div>
      {% assign all_products = 0 %}
      {% assign available_products = 0 %}

      {% for product in collection.products %}
        {%- assign all_products = all_products | plus: 1 -%}
        {% if product.available %}
          {% assign available_products = available_products | plus: 1 %}
        {% endif %}
      {% endfor %}

      {%- if section.settings.show_collection_size -%}
        {%- if all_products == 0 -%}
          <div
            class="text-center mt-10 mb-20">
            <p class="text-sm">La collection est vide</p>
            <a href="/collections/all" class="block px-7 py-3 mt-5 text-base rounded-lg text-white bg-green w-fit mx-auto">Découvrir nos produits</a>
          </div>
        {%- elsif all_products == 1 -%}
          <p class="hidden md:block md:my-3 text-sm text-center" style="color:{{ section.settings.color }}">{{ all_products }} produit</p>
        {%- else -%}
          <p class="hidden md:block md:my-3 text-sm text-center" style="color:{{ section.settings.color }}">{{ all_products }} produits</p>
        {%- endif -%}
      {%- endif -%}
    </div>

    {%- if collection.description contains "<!--split-->" -%}
      {%- assign collection_description = collection.description | split: "<!--split-->" -%}
      <tail-details class="text-sm w-11/12 max-w-2xl m-auto">
        <details-part>
          <div class="text-sm" style="color:{{ section.settings.color }}">
            {{ collection_description | first }}
          </div>
        </details-part>
        <details-part>
          <div class="text-sm mt-3" style="color:{{ section.settings.color }}">
            {{ collection_description | last }}
          </div>
        </details-part>
        <see-more class="block mt-5 text-sm underline capitalize" style="color:{{ section.settings.color }}">Lire plus</see-more>
        <div class="text-center mt-3">
          <see-less class="hidden justify-center mt-5 text-sm underline capitalize" style="color:{{ section.settings.color }}">Lire moins</see-less>
        </div>
      </tail-details>

    {% else -%}
      <div class="text-base mt-5" style="color:{{ section.settings.color }}">
        {{ collection.description }}
      </div>
    {%- endif -%}
  </div>


  <div class="">
    {% if collection.size > 0 %}
      <ul
        id="product-grid"
        data-id="{{ section.id }}"
        class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-x-4 gap-y-6 {% if section.settings.show_collection_card %} items-center {% endif %}">
        {%- for product in collection.products limit: section.settings.products_to_show -%}
          {% if forloop.first and section.settings.show_collection_card %}
            <li class="col-span-2">
              {% render "collection-card", image: section.settings.image, label: section.settings.label, title: section.settings.title, subtitle: section.settings.subtitle, cta: section.settings.cta, ctaLink: section.settings.ctaLink %}
            </li>
          {% endif %}
          <!-- product_card -->
          <li class="col-span-1">
            {% render 'card-product'
             , card_product: product,
             show_secondary_image: section.settings.show_secondary_image,
             show_vendor: section.settings.show_vendor,
             lazy_load: true,
             show_cta: section.settings.show_cta %}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection to display"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 24,
        "step": 1,
        "default": 3,
        "label": "Products to show"
      },
      {
        "type": "checkbox",
        "id": "show_collection_title",
        "default": true,
        "label": "Show title ?"
      },
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "default": true,
        "label": "Show description ?",
        "info": "To split the description has to include <!--split-->"
      }, {
        "type": "checkbox",
        "id": "show_collection_size",
        "default": true,
        "label": "Show number of products ?"
      }, {
        "type": "header",
        "content": "Grid"
      }, {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "Show secondary image on hover"
      }, {
        "type": "checkbox",
        "id": "show_quantity",
        "default": false,
        "label": "Show quantity"
      }, {
        "type": "checkbox",
        "id": "show_cta",
        "default": true,
        "label": "Show add to cart"
      }, {
        "type": "header",
        "content": "card"
      }, {
        "type": "checkbox",
        "id": "show_collection_card",
        "default": true,
        "label": "Show card"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "text",
        "id": "label",
        "default": " JUSQU’À -25%",
        "label": "Label"
      }, {
        "type": "text",
        "id": "subtitle",
        "default": "Personnalisez votre pack",
        "label": "Subtitle"
      }, {
        "type": "richtext",
        "id": "title",
        "default": "<p>Économisez jusqu’à -25% en achetant un pack de 3, 4 ou 5 produits.</p>",
        "label": "Text"
      }, {
        "type": "text",
        "id": "cta",
        "label": "Button label",
        "default": "Personnaliser mon pack"
      }, {
        "type": "url",
        "id": "ctaLink",
        "label": "Link "
      }, {
        "type": "header",
        "content": "colors"
      }, {
        "type": "color",
        "id": "title_color",
        "default": "#4B9B7D",
        "label": "Title color"
      }, {
        "type": "color",
        "id": "color",
        "default": "#343434",
        "label": "Text color"
      }
    ],
    "presets": [
      {
        "name": "Featured collection"
      }
    ]
  }
{% endschema %}