<footer
  id="footer"
  class="py-10"
  style="background-color: {{ section.settings.bg_color }}">
  <div class="w-11/12 max-w-6xl mx-auto">
    <div class="flex justify-between items-center flex-col-reverse md:flex-row mb-7">
      {% if section.settings.image_family != blank or section.settings.footer_text != blank %}
        <div class="flex gap-6 items-center flex-col justify-center md:flex-row md:justify-start">
          {% if section.settings.image_family != blank %}
            <img
              class="lazy max-w-[170px]"
              src="{{ section.settings.image_family | img_url: 'master' }}"
              alt="{{ section.settings.image_family.alt }}"
              loading="lazy">
          {% endif %}
          {% if section.settings.footer_text != blank %}
            <div class="text-sm text-green font-bold text-center md:text-left max-w-[500px]">
              {{ section.settings.footer_text }}
            </div>
          {% endif %}
        </div>
      {% endif %}
      <!-- render social  -->
      {%- if section.settings.show_social -%}
        <div class="mb-3 md:mb-0">
          <ul class="flex items-center gap-3" role="list">
            {% render 'social' %}
          </ul>
        </div>
      {% endif %}
    </div>

    <!-- Text mobile  -->
    {% if section.settings.subtext != blank %}
      <div class="my-6 block md:hidden text-sm font-light" style="color:{{ section.settings.color }}">
        {{ section.settings.subtext }}
      </div>
    {% endif %}

    <div class="flex justify-between mt-10 {% if section.settings.mention-legal == blank %} pb-10 md:pb-16 {% endif %}">
      <!-- desktop menus -->
      {% for block in section.blocks %}
        <div class="hidden md:block">
          <h4 class="pb-4 text-sm lg:text-base font-bold" style="color:{{ section.settings.color }}">{{ block.settings.heading }}</h4>
          <ul class="list-none">
            {%- for link in block.settings.menu.links -%}
              <li class="">
                <a
                  href="{{ link.url }}"
                  class="uppercase:first-letter md:text-xs lg:text-sm font-light {% if link.active %} font-bold {% endif %}"
                  style="color:{{ section.settings.color }}">
                  {{ link.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {% endfor %}

      <!-- mobile menus -->
      <div class="block md:hidden w-full">
        <accordion-group class="group">
          {% for block in section.blocks %}
            <accordion-element class="mb-4 border-b last:border-none" style="border-color:{{ section.settings.color }}">
              <accordion-trigger class="group">
                <accordion-header class="flex justify-between">
                  <div class="flex-1">
                    <p class="pb-4 text-xs font-bold uppercase" style="color:{{ section.settings.color }}">{{ block.settings.heading }}</p>
                  </div>
                  <accordion-icon class="duration-150 group-transition-all origin-center h-[fit-content]">
                    <span class="icon-plus">{% render 'icon-accordion-plus', color: section.settings.color %}</span>
                    <span class="icon-minus hidden relative top-[7px]">{% render 'icon-accordion-minus', color: section.settings.color %}</span>
                  </accordion-icon>
                </accordion-header>
              </accordion-trigger>
              <accordion-content>
                <ul class="mb-5 list-none">
                  {%- for link in block.settings.menu.links -%}
                    <li class="mb-2">
                      <a
                        href="{{ link.url }}"
                        class="uppercase:first-letter text-sm font-light {% if link.active %} font-bold {% endif %}"
                        style="color:{{ section.settings.color }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </accordion-content>
            </accordion-element>
          {% endfor %}
        </accordion-group>
      </div>
    </div>
    <!-- close flex -->


    <!-- logo -->
    <div class="text-center flex flex-row md:flex-col justify-between items-center mt-10 mb-5">
      {% if section.settings.logo_svg != blank %}
        <img
          class="lazy max-w-[110px] md:max-w-[160px] md:mx-auto"
          src="{{ section.settings.logo_svg }}"
          alt="{{ section.settings.logo_svg.alt }}">
      {% elsif section.settings.logo != blank %}
        <img
          class="lazy max-w-[110px] md:mx-auto"
          src="{{ section.settings.logo | img_url: 'master' }}"
          alt="{{ section.settings.logo.alt }}"
          loading="lazy">
      {% endif %}
    </div>


    <!-- mentions legal -->
    {%- if section.settings.mention-legal != blank -%}
      <div class="w-full pb4 lg:pb-6 text-xs text-center" style="color:{{ section.settings.color }}">
        {{ section.settings.mention-legal }}
      </div>
    {% endif %}


    {%- if section.settings.menu_legal != blank -%}
      <ul class="list-none flex flex-col md:flex-row justify-center text-center">
        {%- for link in section.settings.menu_legal.links -%}
          <li class="mx-2 lg:mx-4">
            <a
              href="{{ link.url }}"
              class="uppercase:first-letter text-xs lg:text-sm font-light {% if link.active %} font-bold {% endif %}"
              style="color:{{ section.settings.color }}">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {% endif %}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 5,
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Title",
            "label": "Title"
          }, {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "Menu",
            "info": "Affiche uniquement les éléments de menu de niveau supérieur."
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "logo_svg",
        "label": "Logo SVG",
        "default": "https://cdn.shopify.com/s/files/1/0636/1966/2070/files/logo.svg?v=1662912874"
      },
      {
        "type": "header",
        "content": "content"
      }, {
        "type": "image_picker",
        "id": "image_family",
        "label": "Image family"
      }, {
        "type": "textarea",
        "id": "footer_text",
        "default": "POP it simplifie et égaye la nutrition pour vous aider à prendre soin de vous et de toute votre famille",
        "label": "Text"
      }, {
        "type": "checkbox",
        "id": "show_social",
        "default": true,
        "label": "Show social ?"
      }, {
        "type": "header",
        "content": "Mention legal"
      }, {
        "type": "richtext",
        "id": "mention-legal",
        "label": "Text mention legal",
        "default": "<p>Copyright 2022</p>"
      }, {
        "type": "link_list",
        "id": "menu_legal",
        "default": "footer",
        "label": "Menu legal",
        "info": "Affiche uniquement les éléments de menu de niveau supérieur."
      }, {
        "type": "header",
        "content": "colors"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#E8E2DB"
      }, {
        "type": "color",
        "id": "color",
        "label": "Text color",
        "default": "#FFFFFF"
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "link_list"
        }
      ]
    }
  }
{% endschema %}