<div class="pt-10 pb-20">
  <div class="w-11/12 mx-auto md:max-w-{{ section.settings.container }}">
    <div class="flex flex-col md:flex-row gap-5 md:gap-6 lg:gap-10">
      {%- for block in section.blocks -%}
        <div class="w-full md:1/2  text-center {% if block.settings.card_width == "3/5" %} md:w-3/5 {% elsif block.settings.card_width == "2/5" %} md:w-2/5 {% endif %}">
          <div class="w-full bg-cover bg-center bg-no-repeat flex items-center justify-center p-5 h-[370px] md:h-[350px] rounded-md" style="background-image: url({{block.settings.image | img_url: '1000x' }});">
            {% if block.settings.content == 'inside' %}
              <div>
                <h3 class="text-xl mb-5" style="color:{{ block.settings.color }};">{{ block.settings.title }}</h3>

                {% if block.settings.text != blank %}
                  <div class="text-sm md:text-base" style="color:{{ block.settings.color }};">
                    {{ block.settings.text }}
                  </div>
                {% endif %}

              </div>
            {% endif %}
          </div>
          {% if block.settings.content == 'outside' %}
            <div class="text-center mt-5">
              <h3 class="text-xl mb-2" style="color:{{ section.settings.color }};">{{ block.settings.title }}</h3>
              {% if block.settings.text != blank %}
                <div class="text-sm md:text-base" style="color:{{ section.settings.color }};">
                  {{ block.settings.text }}
                </div>
              {% endif %}

            </div>
          {% endif %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Home cards",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "container",
        "options": [
          {
            "value": "7xl",
            "label": "large"
          }, {
            "value": "5xl",
            "label": "medium"
          }, {
            "value": "3xl",
            "label": "small"
          }
        ],
        "default": "7xl",
        "label": "Container desktop"
      }
    ],
    "blocks": [
      {
        "name": "card",
        "type": "card",
        "limit": 4,
        "settings": [
          {
            "type": "select",
            "id": "card_width",
            "options": [
              {
                "value": "1/2",
                "label": "half"
              }, {
                "value": "3/5",
                "label": "two-thirds"
              }, {
                "value": "2/5",
                "label": "one-third"
              }
            ],
            "default": "1/2",
            "label": "Card width"
          },
          {
            "type": "select",
            "id": "content",
            "options": [
              {
                "value": "inside",
                "label": "inside the card"
              }, {
                "value": "outside",
                "label": "outside the card"
              }
            ],
            "default": "inside",
            "label": "Content position"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "text",
            "default": "<p>Lorem ipsum 2023.</p>",
            "label": "Text"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          }, {
            "type": "header",
            "content": "colors"
          }, {
            "type": "color",
            "id": "color",
            "label": "Text color",
            "default": "#fff"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home cards"
      }
    ]
  }
{% endschema %}