<div class="py-10 md:py-16 lg:py-20" style=" background-color: {{ section.settings.background_color }}">
    <div class="w-11/12 max-w-[840px] mx-auto">
     <div class="flex flex-col items-center md:gap-10 {% if section.settings.layout == 'image_right' %} md:flex-row-reverse {% endif %} {% if section.settings.content == 'column' %} md:flex-col {% else %}  md:flex-row {% endif %}">
        <div class="w-full md:basis-5/12 {% if section.settings.hide_image_mobile %} hidden {% endif %} md:block">
          {% if section.settings.image != blank  %}
              <img
              class="lazy mx-auto w-full {% if section.settings.content == 'column' %} max-w-[600px] {% endif %}"
              src="{{ section.settings.image | img_url: 'master'}}"
              alt="{{ section.settings.image.alt }}"
              loading="lazy">
          {% else %}
             {{ 'image' | placeholder_svg_tag }}
          {% endif %}
        </div>
        <div class="md:basis-7/12 text-center  mt-8 md:mt-0 {% if section.settings.text_align == 'center' %} md:text-center {% else %} md:text-left {% endif %}">
            {%- if section.settings.subtitle != blank -%} 
                <h5 class="font-[GroteskBold] text-sm uppercase mb-2" style="color: {{ section.settings.subtitle_color }}">
                {{ section.settings.subtitle }}
                </h5>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
                <h2 class="py-2 Grotesque text-4xl mb-6" style="color: {{ section.settings.title_color}}">
                    {{ section.settings.title }}
                </h2>
            {%- endif -%}

            {%- if section.settings.text != blank -%}
                <div class="text-base" style="color: {{ section.settings.text_color}}">
                {{ section.settings.text }}
                </div>
            {%- endif -%} 
        </div>
       </div>
      </div>
    </div> 
</div>
 
  {% schema %}
  {
    "name": "Image-Text",
    "tag": "section",
    "class": "section-image-text",
    "settings": [
        {
        "type": "select",
        "id": "layout",
        "options": [
            {
            "value": "image_right",
            "label": "Image right"
            },
            {
            "value": "image_left",
            "label": "Image left"
            }
        ],
        "default": "image_right",
        "label": "Layout"
      },
      {
        "type": "select",
        "id": "content",
        "options": [
            {
            "value": "column",
            "label": "Column"
            },
            {
            "value": "row",
            "label": "Row"
            }
        ],
        "default": "row",
        "label": "Orientation"
      },
      {
        "type": "select",
        "id": "text_align",
        "options": [
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "left",
            "label": "Left"
            }
        ],
        "default": "left",
        "label": "Text align"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "checkbox",
        "id": "hide_image_mobile",
        "label": "Hide image on mobile",
        "default": false
      },
      {
        "type": "text",
        "id": "subtitle",
        "default": "SUBTITLE",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
        "label": "Text"
      },     
      {
        "type": "header",
        "content": "colors"
      },
      {
        "type": "color",
        "id": "subtitle_color",
        "label": "Subtitle color",
        "default": "#4B9B7D"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title color",
        "default": "#4B9B7D"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#4B9B7D"
      }
     
    ],
    "presets": [
      {
        "name": "Image Text"
      }
    ]
  }
  {% endschema %}