<section class="my-10 w-11/12 max-w-7xl mx-auto rounded-lg p-5">
  <section id="section-{{ section.id }}">
  <h2 class="section-title text-center px-5 text-green">{{ section.settings.title }}</h2>
    <div class="join-widget-section">
  {{ section.settings.widget_html }}
</div>
</section>
<style>
  #section-{{ section.id }} .section-title {
    font-size: {{ section.settings.heading_size }}rem;
  }
  @media screen and (max-width: 749px) {
    #section-{{ section.id }} .section-title {
      font-size: {{ section.settings.heading_size_mobile }}rem;
    }
  }
</style>
</section>


{% schema %}
  {
    "name": "Join Widget section",
    "tag" : "section",
    "class" : "section",
    "settings": [{
      "type": "text",
      "id": "widget_html",
      "label": "Widget Code"
    },
      {
        "type": "range",
        "id": "heading_size",
        "min": 1,
        "max": 5,
        "step": 0.5,
        "unit": "rem",
        "label": "Title size desktop",
        "default": 2
      }, {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 1,
        "max": 5,
        "step": 0.5,
        "unit": "rem",
        "label": "Title size mobile",
        "default": 1.5
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Join stories"
      }
    
    ],
    "presets": [{
      "name": "Join Widget section",
      "category": "Custom"
    }]
  }
{% endschema %}

{% stylesheet %}
  .join-widget-section div {
    display: block!important;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}