<a href="/" class="">
  {% if settings.logo_svg != blank %}
    <img class="max-w-[100px] md:max-w-[150px]" src="{{ settings.logo_svg }}" alt="{{ settings.logo_svg.alt }}">
  {% elsif settings.logo != blank %}
    <img
      class="max-w-[150px]"
      src="{{ settings.logo | img_url: 'master' }}"
      loading="lazy"
      alt="{{ settings.logo.alt }}">
  {% else %}
    <span class="text-xl uppercase">{{ shop.name }}</span>
  {% endif %}
</a>


{% schema %}
  {
    "name": "Logo",
    "settings": []
  }
{% endschema %}