{%- assign related_products = article.metafields.custom.related_products.value -%}
{%- assign related_product_text = article.metafields.custom.related_product_text -%}
<section>
  <div
    class="w-11/12 backdrop:md:w-10/12 max-w-screen-xl mt-10 mb-5 mx-auto relative">
    <div
      class="text-[#6E6E73] mb-5 text-center md:text-left">
      {% render 'breadcrumbs' %}
    </div>
    <div
      class="flex relative gap-4">
      <div
        class="w-full">
        {% render 'article_image-banner', image: article.image %}
          <div>

          <!-- Share to do -->
          <div>
            {% if section.settings.show_share %}
              <div
                class="flex justify-center gap-3 mt-5 items-center">
                <div
                  class="w-[30px] h-[30px] roundex-full rounded-full flex justify-center items-center">
                  <a
                    href="#"
                    class="cursor-default">
                    {% render 'icon-facebook-article' %}
                  </a>
                </div>
                <div
                  class="w-[30px] h-[30px] roundex-full rounded-full flex justify-center items-center cursor-pointer">
                  <a
                    href="https://www.linkedin.com/share?url={{ article.url }}"
                    onclick="window.open(this.href, 'share-linkedin', 'width=750, height= 750'); return false;"
                    target="_blank"
                    rel="noopener noreferrer">
                    {% render 'icon-linkedin' %}
                  </a>
                </div>
                <div
                  class="w-[25px] h-[25px] border border-gray-400 rounded-full flex justify-center items-center">
                  <a
                    href="mailto:?body=tisbody&subject={{ article.url }}">
                    {% render 'icon-mail' %}
                  </a>
                </div>
                <div
                  class="w-[25px] h-[25px] border border-gray-400 rounded-full flex justify-center items-center cursor-pointer">
                  <a
                    class="clipboard"
                    onclick="copyToClipboard()">
                    {% render 'icon-link' %}
                  </a>
                </div>
              </div>
            {% endif %}
          </div>
          <!-- Share to do -->
          {% for tag in article.tags %}
            <div
              class="my-3 md:hidden">
              {% render 'article-tags', tag: tag %}
            </div>
          {% endfor %}
        </div>
        <div
          class="my-5">
          {%- if section.settings.show_date == true -%}
            <p
              class="text-xs text-[#6E6E73] md:text-sm font-light">
              {{ article.published_at | date: "%d.%b %C" }}
            </p>
          {%- endif -%}
          <h2
            class="text-base md:text-2xl">
            {{ article.title }}
          </h2>
          {%- if section.settings.show_time == true -%}
            <span
              class="reading-time text-[#6E6E73] font-light text-xs md:text-sm"
              title="Estimated read time">
              {% assign words = article.content | strip_html | split: ' ' | size %}
              {{ words | divided_by: 180 | plus: 4 }} minutes
            </span>
          {%- endif -%}
        </div>

        <div
          class="text-sm mb-8 md:text-lg md:mb-12 article-content list-disc">
          {{ article.content }}
        </div>

        <div class="flex flex-col w-full gap-8 md:gap-12 {%- if section.settings.related_products and  related_products != blank -%} md:w-9/12 {% else %} w-full {% endif %}">

          {% comment %}  à mettre les metafields dans un boucle  {% endcomment %}
          {% comment %}  comme dans l'article de JM  {% endcomment %}

          {%- assign image_texts = 0 -%}
            {% for block in section.blocks %}
              {%- if block.type == "image_texts" -%}
              {%- assign image_texts = image_texts | plus: 1 -%}
              {% assign title_name = 'title_' | append: image_texts %}
              {% assign image_name = 'image_bloc_' | append: image_texts %}
              {% assign text_name = 'text_bloc_' | append: image_texts %}
              {% assign metafield_title = article.metafields.custom[title_name] %}
              {% assign metafield_image = article.metafields.custom[image_name] %}
              {% assign metafield_text = article.metafields.custom[text_name] %}

                {% if metafield_title != blank or metafield_text != blank or metafield_image != blank %}
                  <div
                  class="flex flex-col gap-5">
                  <h3
                    class="text-base md:text-xl font-bold">
                    {{ metafield_title }}
                  </h3>
                  {% render "image" image: metafield_image class: "max-h-[260px] object-cover w-full" %}
                  <div
                    class="text-base font-thin md:text-lg">
                    {{ metafield_text }}
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}

          <div
            class="flex relative overflow-hidden overflow-x-scroll snap-mandatory snap-x gap-5 scrollbar">
            {% for block in section.blocks %}
              {% if block.type == "pack_card" %}
                {% render "collection-card", image: block.settings.image, label: block.settings.label, title: block.settings.title, subtitle: block.settings.subtitle, cta: block.settings.cta, ctaLink: block.settings.ctaLink %}
              {% elsif block.type == "product" %}
                <div
                  class="min-w-[158px] md:max-w-[265px]">
                  {% render 'card-product'
                   product: product
                   , card_product: block.settings.product
                   , show_secondary_image: true
                   , show_vendor: false
                   , show_quick_add: true
                   , show_cta: true %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% for block in section.blocks %}
            {% if block.type == "featured_blog" %}
              <div>
                {% render 'featured-blog-article-carousel' %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>


      {%- if section.settings.related_products and related_products != blank -%}
        <div
          class="hidden md:block w-3/12">
          <div
            class="flex flex-col sticky top-16 gap-10">
            {% for related_product in related_products %}
              {% render 'card-product'
               product: product
               , card_product: related_product
               , show_secondary_image: true
               , show_vendor: false
               , show_quick_add: true
               , show_cta: true %}
            {% endfor %}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
<script>
  function copyToClipboard(text) {
    var inputc = document.body.appendChild(document.createElement("input"));
    inputc.value = window.location.href;
    inputc.focus();
    inputc.select();
    document.execCommand('copy');
    inputc.parentNode.removeChild(inputc);
    alert("URL successfully Copied 🎉");
  }

  function shareLinkedIn() {
    window.open("https://www.linkedin.com/share?url=       {{ article.url }}", "share-linkedin", "width=750, height=750");
    return false;
  }
</script>
<style>
  .article-content ul {
    list-style: disc;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>


{% schema %}
  {
    "name": "Article de blog",
    "settings": [
      {
        "type": "header",
        "content": "Article settings"
      },
      {
        "type": "checkbox",
        "id": "related_products",
        "default": true,
        "label": "Show product"
      },
      {
        "type": "checkbox",
        "id": "show_cta",
        "default": true,
        "label": "Show add to cart"
      },
      {
        "type": "checkbox",
        "id": "show_time",
        "default": false,
        "label": "Show time"
      }, {
        "type": "checkbox",
        "id": "show_date",
        "default": false,
        "label": "Show date"
      }, {
        "type": "checkbox",
        "id": "show_share",
        "default": true,
        "label": "Show share"
      }
    ],
    "blocks": [
      {
        "name": "Image texts",
        "type": "image_texts",
        "limit": 30,
        "settings": []
      },
      {
        "type": "pack_card",
        "name": "Pack card",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_collection_title",
            "default": true,
            "label": "Show title ?"
          },
          {
            "type": "header",
            "content": "card"
          },
          {
            "type": "checkbox",
            "id": "show_pack_card",
            "default": true,
            "label": "Show card"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "label",
            "default": " JUSQU’À -25%",
            "label": "Label"
          }, {
            "type": "text",
            "id": "subtitle",
            "default": "Personnalisez votre pack",
            "label": "Subtitle"
          }, {
            "type": "richtext",
            "id": "title",
            "default": "<p>Économisez jusqu’à -25% en achetant un pack de 3, 4 ou 5 produits.</p>",
            "label": "Text"
          }, {
            "type": "text",
            "id": "cta",
            "label": "Button label",
            "default": "Personnaliser mon pack"
          }, {
            "type": "url",
            "id": "ctaLink",
            "label": "Link "
          }, {
            "type": "header",
            "content": "colors"
          }, {
            "type": "color",
            "id": "title_color",
            "default": "#4B9B7D",
            "label": "Title color"
          }, {
            "type": "color",
            "id": "color",
            "default": "#343434",
            "label": "Text color"
          }
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "limit": 2,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      },
      {
        "type": "featured_blog",
        "name": "Featured Blog",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Blog"
          },
          {
            "type": "blog",
            "id": "blog",
            "label": "Choix du blog"
          },
          {
            "type": "range",
            "id": "post_limit",
            "min": 0,
            "max": 4,
            "step": 1,
            "default": 4,
            "label": "Nombre d'articles de blog à afficher en desktop"
          },
          {
            "type": "checkbox",
            "id": "show_dots",
            "label": "Show carousel bar",
            "default": true
          }, {
            "type": "header",
            "content": "header"
          }, {
            "type": "text",
            "id": "heading",
            "default": "À LIRE...",
            "label": "Titre"
          }, {
            "type": "header",
            "content": "Contenu des articles"
          }, {
            "type": "checkbox",
            "id": "show_tag",
            "default": false,
            "label": "Show tag"
          }, {
            "type": "checkbox",
            "id": "show_author",
            "default": false,
            "label": "Show author"
          }, {
            "type": "checkbox",
            "id": "show_date",
            "default": true,
            "label": "Show date"
          }, {
            "type": "checkbox",
            "id": "show_button",
            "default": true,
            "label": "Show button"
          }
        ]
      }, {
        "type": "product_card",
        "name": "Product card",
        "limit": 1,
        "settings": [
          {
            "type": "product",
            "id": "product-handle",
            "label": "Product-Handle"
          }
        ]
      }
    ]
  }
{% endschema %}