  <!-- blog tags -->
    <div class="flex flex-col lg:flex-row md:justify-center items-center border-b-[1px] mx-auto mt-4">
      <div class="text-sm pb-2 mr-2">
        Rechercher par besoin:
      </div>
    <div class="w-full md:w-fit overflow-hidden overflow-x-scroll pb-2 snap-mandatory snap-x">
      <div class="flex items-center ml-2 lg:ml-0 lg:justify-center gap-2">
        <div class="text-[15px] min-w-fit py-1 snap-center">
          <a href="{{ blog.url }}">
            <div class="flex items-center justify-center py-1 px-2 bg-[#E3F2ED] rounded-full max-w-[70px] focus:border-2 focus:border-[#4B9B7D]">
              <span class="block text-xs md:text-sm text-[#4B9B7D]">
                Tous
              </span>
            </div>
          </a>
        </div>
        {%- for tag in blog.all_tags -%}
          <div
            class="text-[15px] min-w-fit py-1 opacity-80 snap-start "
            {% if current_tags contains tag %}
            style="opacity:1"
            {% endif %}>
            <a href="{{ blog.url }}/tagged/{{ tag | handle }} ">
              <div class="flex justify-center mx-auto items-center rounded-full"></div>
              {%- if tag contains "Énergie" -%}
                <div class="flex items-center justify-center py-1 px-2 bg-[#FEE5C6] rounded-full max-w-[70px] {% if current_tags contains tag %} border border-[#EA5B0C] {% endif %}">
                  <span class="block text-xs md:text-sm text-[#EA5B0C]">
                    {{ tag }}
                  </span>
                </div>
              {%- elsif tag contains "Sommeil" -%}
                <div class="flex items-center justify-center py-1 px-2 bg-[#E9D2E7] rounded-full max-w-[70px]{% if current_tags contains tag %} border border-[#4F2674] {% endif %}">
                  <span class="block text-xs md:text-sm text-[#4F2674]">
                    {{ tag }}
                  </span>
                </div>
              {%- elsif tag contains "Alimentation" -%}
                <div class="flex items-center justify-center py-1 px-2 bg-[#D9E6B1] rounded-full max-w-[100px]{% if current_tags contains tag %} border border-[#3D925C] {% endif %}">
                  <span class="block text-xs md:text-sm text-[#3D925C]">
                    {{ tag }}
                  </span>
                </div>
              {%- elsif tag contains "Sport" -%}
                <div class="flex items-center justify-center py-1 px-2 bg-[#CBE7E6] rounded-full max-w-[70px]{% if current_tags contains tag %} border border-[#2F52A0] {% endif %}">
                  <span class="block text-xs md:text-sm text-[#2F52A0]">
                    {{ tag }}
                  </span>
                </div>
              {%- elsif tag contains "Stress" -%}
                <div class="flex items-center justify-center py-1 px-2 bg-[#B7E1F5] rounded-full max-w-[70px]{% if current_tags contains tag %} border border-[#2F2870] {% endif %}">
                  <span class="block text-xs md:text-sm text-[#2F2870]">
                    {{ tag }}
                  </span>
                </div>
              {%- elsif tag contains "Féminin" -%}
                <div class="flex items-center justify-center py-1 px-2 bg-[#F9CDDB] rounded-full max-w-[70px]{% if current_tags contains tag %} border border-[#9D1553] {% endif %}">
                  <span class="block text-xs md:text-sm text-[#9D1553]">
                    {{ tag }}
                  </span>
                </div>
              {%- elsif tag contains "Peau" -%}
                <div class="flex items-center justify-center py-1 px-2 bg-[#FBDBDC] rounded-full max-w-[70px]{% if current_tags contains tag %} border border-[#E4003A]{% endif %}">
                  <span class="block text-xs md:text-sm text-[#E4003A]">
                    {{ tag }}
                  </span>
                </div>
              {%- elsif tag contains "Mémoire/focus" -%}
                <div class="flex items-center justify-center py-1 px-2 bg-[#C2E3DF] rounded-full max-w-[115px]{% if current_tags contains tag %} border border-[#00555A] {% endif %}">
                  <span class="block text-xs md:text-sm text-[#00555A]">
                    {{ tag }}
                  </span>
                </div>
              {%- endif -%}
            </a>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
  <!-- blog grid -->
  <div class="w-11/12 max-w-7xl mx-auto py-10">
    {%- paginate blog.articles by section.settings.number_by_page -%}
      <div class="py-5 overflow-hidden overflow-x-auto grid gap-4 md:gap-5 md:mx-auto grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 ">
        {%- for article in blog.articles -%}
          <div class="w-full sm:h-full item">
            {% render 'article-card-grid', blog: blog, show_tag: true, article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author, show_excerpt: true, show_button: section.settings.show_button %}
          </div>
        {%- endfor -%}
      </div>
      <style>
        .items-grid {}
      </style>

      {%- if paginate.pages > 1 -%}
        <div class="my-5">
          {%- render 'pagination', paginate: paginate -%}
        </div>
      {%- endif -%}
    </div>
    <!-- aside text -->
    {% if section.settings.aside_title or section.settings.aside_text %}
      <div class="max-w-xl mx-auto my-10 text-center">
        <h4 class="text-base">{{ section.settings.aside_title }}
        </h4>
        <div class="mt-3 text-xs">
          {{ section.settings.aside_text }}
        </div>
      </div>
    {% endif %}
  </div>
{%- endpaginate -%}

<style>
  .snap-mandatory::-webkit-scrollbar {
    display: none;
  }

  .item:nth-child(1) {
    grid-column: auto / span 2;
    max-width: inherit;
  }

  @media only screen and (min-width:500px) {
    .item:nth-child(6) {
      grid-column: auto / span 2;
      max-width: inherit;
    }
  }

  @media only screen and (max-width:500px) {
    .item:nth-child(1) a {
      display: flex;
      gap: 16px;
    }
    .item:nth-child(1) img {
      max-width: 140px;
    }
    .item:nth-child(1) {
      height: 160px !important;
    }
  }
</style>
{% schema %}
  {
    "name": "Main blog",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Grille d'articles"
      },
      {
        "type": "range",
        "id": "number_by_page",
        "min": 6,
        "max": 24,
        "step": 1,
        "default": 6,
        "label": "Number of articles by page"
      },
      {
        "type": "header",
        "content": "Contenu de l'article"
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "default": true,
        "label": "date"
      }, {
        "type": "checkbox",
        "id": "show_author",
        "default": false,
        "label": "Author"
      }, {
        "type": "checkbox",
        "id": "show_time",
        "default": false,
        "label": "Reading time"
      }
    ]
  }
{% endschema %}
