<div class="py-6 md:py-10 {% if section.settings.section_style == 'boxed' %} md:max-w-3xl md:mx-auto md:my-10 rounded-lg {% endif %}" style=" background-color: {{ section.settings.bg_color }}">
  <div class="w-11/12 mx-auto">
    <div class="text-center">
      <h2 class="text-xl md:text-3xl font-bold pb-2 md:pb-4" style="color:{{ section.settings.color }}">
        {{ section.settings.title }}
      </h2>
      {% if section.settings.text != blank %}
        <div class="text-sm lg:text-lg max-w-[600px] md:mx-auto" style="color: {{ section.settings.color }}">
          {{ section.settings.text }}
        </div>
      {% endif %}
    </div>
    <!-- newsletter form -->
    <div class="klaviyo-form-DIVID">
      <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="post" class="klaviyo-form" target="_blank">
        <input type="hidden" name="g" value="LIST_ID">
        <input type="hidden" name="$fields" value="EMAIL,FNAME,LNAME">
        <input type="hidden" name="$list_fields" value="$email,$first_name,$last_name">
        <div class="klaviyo-form-field">
          <label for="k_id_email">Correo electrónico</label>
          <input type="email" name="email" id="k_id_email" placeholder="correo@ejemplo.com" required>
        </div>
        <div class="klaviyo-form-field">
          <label for="k_id_fname">Nombre</label>
          <input type="text" name="first_name" id="k_id_fname" placeholder="Tu nombre">
        </div>
        <div class="klaviyo-form-field">
          <label for="k_id_lname">Apellido</label>
          <input type="text" name="last_name" id="k_id_lname" placeholder="Tu apellido">
        </div>
        <button type="submit" class="klaviyo-submit-button">Suscribirse</button>
      </form>
    </div>
  </div>
</div>
<script>
  document.querySelector('input[name="newsletter"]').addEventListener('change', function() {
    if (this.checked) {
      document.querySelector('.checkmark').classList.remove('hidden');
    } else {
      document.querySelector('.checkmark').classList.add('hidden');
    }
  });
</script>

{% schema %}
  {
    "name": "Newsletter Klaviyo",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "section_style",
        "options": [
          {
            "value": "boxed",
            "label": "boxed"
          }, {
            "value": "default",
            "label": "Full width"
          }
        ],
        "default": "boxed",
        "label": "Section style"
      },
      {
        "type": "text",
        "id": "title",
        "default": "NEWSLETTER",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "default": "<p>Inscrivez-vous à notre newsletter et recevez des offres exclusives ! </p>",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text_button",
        "default": "S'inscrire",
        "label": "Button"
      }, {
        "type": "checkbox",
        "id": "show_checkbox",
        "default": true,
        "label": "Show checkbox"
      }, {
        "type": "header",
        "content": "colors"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#FAF5EF"
      }, {
        "type": "color",
        "id": "color",
        "label": "Text color",
        "default": "#4B9B7D"
      }, {
        "type": "color",
        "id": "button_color",
        "label": "Button color",
        "default": "#4B9B7D"
      }

    ],
    "presets": [
      {
        "name": "Newsletter Klaviyo"
      }
    ]
  }
{% endschema %}