<div class="py-4 md:py-10 {% if section.settings.section_style == 'boxed' %} md:max-w-3xl md:mx-auto md:my-10 rounded-lg {% endif %}" style=" background-color: {{ section.settings.bg_color }}">
  <div class="w-11/12 mx-auto">
    <div class="text-left md:text-center">
      <h2 class="text-lg md:text-4xl xl:text-5xl xl:leading-9 font-bold pb-2 md:pb-4 lg:pb-6 xl:pb-8" style="color: {{ section.settings.color }}">
        {{ section.settings.title }}
      </h2>
      {% if section.settings.text != blank %}
        <div class="text-sm lg:text-lg max-w-[600px] md:mx-auto" style="color: {{ section.settings.color }}">
          {{ section.settings.text }}
        </div>
      {% endif %}
    </div>
    <!-- newsletter form -->
    <div class="text-center">
      {% form 'customer', class: 'mt-5' %}
        <input
          type="hidden"
          name="contact[tags]"
          value="newsletter">
        <div class="flex items-center max-w-[480px] md:mx-auto bg-white rounded-lg border border-gray-300 p-2">
          <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="text-gray-300 text-sm block w-full mx-auto placeholder-gray-300 appearance-none outline-none pb-1"
            size="40"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="Newsletter-error--{{ section.id }}"
            {% elsif form.posted_successfully? %}
            aria-describedby="Newsletter-success--{{ section.id }}"
            {% endif %}
            placeholder="laplusjolly@gmail.com"
            required>

          <button
            type="submit"
            data-newsletter
            class="px-3 md:px-4 py-3 text-base rounded-lg text-white flex justify-center items-center min-w-fit"
            style="background-color: {{ section.settings.button_color }}"
            name="commit"
            id="Subscribe"
            aria-label="{{ 'newsletter.button_label' | t }}">
            <span class="block md:hidden">{% render 'icon-newsletter-arrow' %}</span>
            <span class="hidden md:block">{{ section.settings.text_button }}</span>
          </button>
        </div>

        {%- if form.errors -%}
          <h3 class="flex jsutify-center text-sm items-center text-red-700 mt-3" id="Newsletter-error--{{ section.id }}">
            <span class="max-w-[80px] mr-2">{% render 'icon-error' %}</span>
            <span>
              {{ form.errors.translated_fields['email'] | capitalize }}
              {{ form.errors.messages['email'] }}</span>
          </h3>
        {%- endif -%}

        {%- if form.posted_successfully? -%}
          <h3
            class="flex justify-center text-sm items-center mt-5"
            id="Newsletter-success--{{ section.id }}"
            tabindex="-1"
            autofocus
            style="color: {{ section.settings.color }}">
            <span class="max-w-[80px] mr-2">{% render 'icon-success' %}</span>
            <span>{{ 'newsletter.success' | t }}</span>
          </h3>
        {%- endif -%}
      {% endform %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Newsletter",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "section_style",
        "options": [
          {
            "value": "boxed",
            "label": "boxed"
          }, {
            "value": "default",
            "label": "Full width"
          }
        ],
        "default": "boxed",
        "label": "Section style"
      },
      {
        "type": "text",
        "id": "title",
        "default": "NEWSLETTER",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "default": "<p>Inscrivez-vous à notre newsletter et recevez des offres exclusives ! </p>",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text_button",
        "default": "S'inscrire",
        "label": "Button"
      }, {
        "type": "header",
        "content": "colors"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#FAF5EF"
      }, {
        "type": "color",
        "id": "color",
        "label": "Text color",
        "default": "#4B9B7D"
      }, {
        "type": "color",
        "id": "button_color",
        "label": "Button color",
        "default": "#4B9B7D"
      }

    ],
    "presets": [
      {
        "name": "Newsletter"
      }
    ]
  }
{% endschema %}