<div class="py-6 md:py-10 {% if section.settings.section_style == 'boxed' %} md:max-w-3xl md:mx-auto md:my-10 rounded-lg {% endif %}" style=" background-color: {{ section.settings.bg_color }}">
  <div class="w-11/12 mx-auto">
    <div class="text-center">
      <h2 class="text-xl md:text-3xl font-bold pb-2 md:pb-4" style="color:{{ section.settings.color }}">
        {{ section.settings.title }}
      </h2>
      {% if section.settings.text != blank %}
        <div class="text-sm lg:text-lg max-w-[600px] md:mx-auto" style="color: {{ section.settings.color }}">
          {{ section.settings.text }}
        </div>
      {% endif %}
    </div>
    <!-- newsletter form -->
    <div class="klaviyo-form-SJ54u9 mt-5">
      <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="post" class="klaviyo-form" target="_blank">
        <input type="hidden" name="g" value="SJ54u9">
        <input type="hidden" name="$fields" value="EMAIL,FNAME,LNAME">
        <input type="hidden" name="$list_fields" value="$email,$first_name,$last_name">
        <div class="flex items-center justify-between max-w-[480px] md:mx-auto bg-white rounded-lg border border-gray-300 p-2">
        <div class="klaviyo-form-field">
          <!-- <label for="k_id_email">Email</label>-->
          <input type="email" class="text-gray-300 text-sm block w-full mx-auto placeholder-gray-300 appearance-none outline-none pb-1" name="email" id="k_id_email" placeholder="votremail@gmail.com" required>
        </div>
          <button type="submit" class="klaviyo-submit-button bg-green px-3 md:px-4 py-3 text-base rounded-lg text-white flex justify-center items-center min-w-fit">{{ section.settings.text_button }}</button>
        </div>
        {% if section.settings.show_checkbox %}
          <label class="flex items-center relative justify-center text-center w-fit mx-auto mt-5">
            <input
              required
              type="checkbox"
              name="newsletter_checkbox"
              value="true"
              class="rounded border border-green focus:ring-2 focus:ring-green appearance-none w-5 h-5 checked:bg-green checked:border-transparent focus:outline-none">
            <span class="ml-2 text-xs md:text-sm" style="color: {{ section.settings.color }}">J'accepte la politique de confidentialité</span>
            <svg
              viewBox="0 0 20 20"
              fill="#ffffff"
              class="checkmark w-3 h-3 ml-2 hidden absolute left-[-4px]">
              <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
            </svg>
          </label>
        {% endif %}  
      </form>
    </div>
  </div>
</div>
<script>
  document.querySelector('input[name="newsletter_checkbox"]').addEventListener('change', function() {
    if (this.checked) {
      document.querySelector('.checkmark').classList.remove('hidden');
    } else {
      document.querySelector('.checkmark').classList.add('hidden');
    }
  });
</script>

{% schema %}
  {
    "name": "Newsletter Klaviyo",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "section_style",
        "options": [
          {
            "value": "boxed",
            "label": "boxed"
          }, {
            "value": "default",
            "label": "Full width"
          }
        ],
        "default": "boxed",
        "label": "Section style"
      },
      {
        "type": "text",
        "id": "title",
        "default": "NEWSLETTER",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "default": "<p>Inscrivez-vous à notre newsletter et recevez des offres exclusives ! </p>",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text_button",
        "default": "S'inscrire",
        "label": "Button"
      }, {
        "type": "checkbox",
        "id": "show_checkbox",
        "default": true,
        "label": "Show checkbox"
      }, {
        "type": "header",
        "content": "colors"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#FAF5EF"
      }, {
        "type": "color",
        "id": "color",
        "label": "Text color",
        "default": "#4B9B7D"
      }, {
        "type": "color",
        "id": "button_color",
        "label": "Button color",
        "default": "#4B9B7D"
      }

    ],
    "presets": [
      {
        "name": "Newsletter Klaviyo"
      }
    ]
  }
{% endschema %}