{% if product.tags contains "sommeil" %}
  {% assign product_color = "#4F2674" %}
  {% assign product-color = "violet" %}
  {% assign bg_color = "#E9D2E7" %}

{% elsif product.tags contains "energie" %}
  {% assign product_color = "#EA5B0C" %}
  {% assign product-color = orange %}
  {% assign bg_color = "#FEE5C6" %}

{% elsif product.tags contains "alimentation" %}
  {% assign product_color = "#3D925C" %}
  {% assign product-color = "green" %}
  {% assign bg_color = "#D9E6B1" %}

{% elsif product.tags contains "sport" %}
  {% assign product_color = "#2F52A0" %}
  {% assign product-color = "blue" %}
  {% assign bg_color = "#CBE7E6" %}

{% elsif product.tags contains "stress" %}
  {% assign product_color = "#2F2870" %}
  {% assign product-color = "blue" %}
  {% assign bg_color = "#B7E1F5" %}

{% elsif product.tags contains "feminim" %}
  {% assign product_color = "#9D1553" %}
  {% assign product-color = "pink" %}
  {% assign bg_color = "#F9CDDB" %}

{% elsif product.tags contains "peau" %}
  {% assign product_color = "#E4003A" %}
  {% assign product-color = "red-hair" %}
  {% assign bg_color = "#FBDBDC" %}

{% elsif product.tags contains "hair" %}
  {% assign product_color = "#E4003A" %}
  {% assign product-color = "red-hair" %}
  {% assign bg_color = "#FBDBDC" %}

{% elsif product.tags contains "focus" %}
  {% assign product_color = "#00555A" %}
  {% assign product-color = "green" %}
  {% assign bg_color = "#C2E3DF" %}
{% else %}
  {% assign product_color = section.settings.color %}
  {% assign bg_color = section.settings.bg_color %}
{% endif %}

<section class="w-11/12 lg:w-full py-5 lg:py-10 mx-auto my-5 lg:my-0 rounded-lg lg:rounded-none" style=" background-color: {{ bg_color }}">
  <div class="w-11/12 max-w-7xl mx-auto flex gap-5">
    <div class="hidden lg:block w-1/2">
      {% if section.settings.image != blank %}
        <img
          class="lazy mx-auto"
          src="{{ section.settings.image | img_url: 'master'}}"
          alt="{{ section.settings.image.alt }}"
          loading="lazy"
          style="max-width:{{ section.settings.image_width }}px">
      {% endif %}
    </div>
    <tail-tabs data-products-tab class="w-full lg:w-1/2">
      <tabs-buttons class="justify-center gap-8 mb-5 md:mb-8">
        {% for block in section.blocks %}
          <div class="tab-button block relative group font-light transition-all !border-[0] cursor-pointer selected:after:bg-[{{ product_color }}] selected:after:w-[60px] selected:after:h-[2px] selected:after:absolute selected:after:bottom-[2px] selected:after:left-[50%] selected:after:translate-x-[-50%] selected:after:mx-auto">
            <span class="block py-2 text-sm font-light group:selected:font-bold text-center">{{ block.settings.title }}</span>
          </div>
        {% endfor %}
      </tabs-buttons>
      <tabs-panels>
        {% for block in section.blocks %}
          {% if block.type == 'description' %}
            <div class="block mt-4" style="color: {{ product_color }}">
              {% comment %} <div class="text-sm">{{ product.description }}</div> {% endcomment %}

              <div class="text-sm font-light">
                {% if product.metafields.product.description_text_principal != blank %}
                  {{ product.metafields.product.description_text_principal }}
                {% else %}
                  {{ product.metafields.product.description }}
                {% endif %}
              </div>
              {% if product.metafields.product.description_text_1 != blank %}
                <div class="flex items-center gap-5 pb-3 border-b border-{{ product-color }} mt-5">
                  <img class="max-w-[60px]" src="{{ product.metafields.product.description_image_1.value | img_url:'master' }}" alt="">
                  <span class="block text-sm font-light">{{ product.metafields.product.description_text_1.value }}</span>
                </div>
              {% endif %}
              {% if product.metafields.product.description_text_2 != blank %}
                <div class="flex items-center gap-5 pb-3 border-b border-{{ product-color }} mt-4">
                  <img class="max-w-[60px]" src="{{ product.metafields.product.description_image_2.value | img_url:'master' }}" alt="">
                  <span class="block text-sm font-light">{{ product.metafields.product.description_text_2.value }}</span>
                </div>
              {% endif %}
              {% if product.metafields.product.description_text_3 != blank %}
                <div class="flex items-center gap-5 mt-4">
                  <img class="max-w-[60px]" src="{{ product.metafields.product.description_image_3.value | img_url:'master' }}" alt="">
                  <span class="block text-sm font-light">{{ product.metafields.product.description_text_3.value }}</span>
                </div>
              {% endif %}
            </div>
          {% elsif block.type == 'use' %}
            <div class="block mt-4" style="color: {{ product_color }}">
              <div class="text-sm font-light">
                {% if product.metafields.product.use_text_principal != blank %}
                  {{ product.metafields.product.use_text_principal }}
                {% endif %}
              </div>
              {% if product.metafields.product.use_image_1.value != blank %}
                <div class="flex items-center gap-5 pb-3 border-b border-{{ product-color }} mt-5">
                  <img class="max-w-[60px]" src="{{ product.metafields.product.use_image_1.value | img_url:'master' }}" alt="">
                  <span class="block text-sm font-light">{{ product.metafields.product.use_text_1 }}</span>
                </div>
              {% endif %}
              {% if product.metafields.product.description_text_2 != blank %}
                <div class="flex items-center gap-5 pb-3 border-b border-{{ product-color }} mt-4">
                  <img class="max-w-[60px]" src="{{ product.metafields.product.description_image_2.value | img_url:'master' }}" alt="">
                  <span class="block text-sm font-light">{{ product.metafields.product.use_text_2 }}</span>
                </div>
              {% endif %}
              {% if product.metafields.product.description_text_3 != blank %}
                <div class="flex items-center gap-5 mt-4">
                  <img class="max-w-[60px]" src="{{ product.metafields.product.description_image_3.value | img_url:'master' }}" alt="">
                  <span class="block text-sm font-light">{{ product.metafields.product.use_text_3 }}</span>
                </div>
              {% endif %}

            </div>
          {% elsif block.type == 'composition' %}
            <div class="block mt-4">
              {% if product.metafields.product.compo_image_tableau_desktop != blank %}
                <img
                  class="mx-auto hidden md:block"
                  src="{{ product.metafields.product.compo_image_tableau_desktop.value | img_url: 'master' }}"
                  alt="">
              {% endif %}
              {% if product.metafields.product.compo_image_tableau_mobile != blank %}
                <img
                  class="mx-auto block md:hidden"
                  src="{{ product.metafields.product.compo_image_tableau_mobile.value | img_url: 'master' }}"
                  alt="">
              {% endif %}
            </div>
          {% else %}
            <div class="block mt-8 text-sm">
              <span class="text-sm" style="color: {{ product_color }}">{{ block.settings.text }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </tabs-panels>
    </tail-tabs>

  </div>
</section>
<style>
  .tab-button span {
    font-weight: normal;
    color: {{ product_color }}
    ;
  }
  .tab-button[aria-selected="true"]::after {
    background-color: {{ product_color}}
    ;
  }
  .tab-button[aria-selected="true"] span {
    font-weight: bold;
  }
</style>
{% schema %}
  {
    "name": "Product tabs",
    "max_blocks": 4,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "description",
        "name": "product description",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Tab title",
            "default": "Description"
          }
        ]
      }, {
        "type": "composition",
        "name": "Composition",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Tab title",
            "default": "Composition"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Lorem o eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>",
            "info": "Text by default if metafield is empty"
          }
        ]
      }, {
        "type": "use",
        "name": "How to use",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Tab title",
            "default": "HOW TO USE"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>",
            "info": "Text by default if metafield is empty"
          }
        ]
      }, {
        "type": "tab",
        "name": "tab",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Tab title",
            "default": "TAB"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}