{% assign item_count = cart.item_count %}
{% assign s = section.settings %}


{% assign item_count = cart.item_count %}

<tail-side-cart
  class="group"
  data-transition="out"
  data-full-height="true">
  <side-cart-overlay id="side-cart" class="{% if template == "index" %} drawer-with-announcement {% endif %} group-in:opacity-100 group-exiting:opacity-0 group-out:hidden group-entering:block group-entering:opacity-0 z-[50]">
    <side-cart-content class="w-[430px] overflow-x-hidden group-entering:block group-entering:translate-x-full group-in:translate-x-0 group-in:opacity-100 group-exiting:d-block group-exiting:translate-x-full group-exiting:opacity-0 group-out:opacity-0 group-out:hidden">
      <side-cart-header class="flex justify-between p-5">
        <div class="flex items-center">
          <span class="text-base">
            {% if item_count == 0 %}
              {{ section.settings.cart_title_when_empty }}
            {% else %}
              {{ section.settings.cart_title }}
            {% endif %}
          </span>
          <span class="block ml-2 text-sm text-gray-400 text-normal">
            {{ item_count }}
            {% if item_count > 1 %}
              articles
            {% else %}
              article
            {% endif %}
          </span>
        </div>
        <side-cart-close class="">
          {% render 'icon-cart-close' %}
        </side-cart-close>
      </side-cart-header>

      <side-cart-inner class="overflow-x-hidden">
        {%- if section.settings.show_carousel_reassurance -%}
          {% render "side-cart-carousel" %}
        {% endif %}

        <div class="px-3 pt-4 pb-2 bg-green text-white">
          {% render "side-cart-progress" %}
        </div>

        {% if item_count == 0 %}
          <div class="px-4 mt-10 flex flex-col gap-5 items-center justify-center bg-gray-100">
            {% render "side-cart-empty"
             , show_card: section.settings.show_card,
             image: section.settings.image,
             label: section.settings.label,
             title: section.settings.title,
             subtitle: section.settings.subtitle,
             cta: section.settings.cta,
             ctaLink: section.settings.ctaLink,
             show_card_2: section.settings.show_card_2,
             image_2: section.settings.image_2,
             label_2: section.settings.label_2,
             title_2: section.settings.title_2,
             cta_2: section.settings.cta_2,
             ctaLink_2: section.settings.ctaLink_2 %}
          </div>
        {% else %}
          <div id="line-items" class="pt-4 px-4 pb-6 bg-white">
            {% render "side-cart" %}
          </div>
        {% endif %}
      </side-cart-inner>

      {% unless item_count == 0 %}
        <side-cart-footer class="flex flex-col bg-beige pb-4">
          {% if section.settings.upSellCollection != blank %}
            <div class=" py-4 bg-green-clair">
              <h5 class="text-lg font-bold text-center mb-2 text-green">{{ section.settings.upSellTitle }}</h5>
              {% render "side-cart-upsell-carousel", collection: section.settings.upSellCollection %}
            </div>
          {% endif %}
          <div class="px-3 bg-beige relative">
            {% render "side-cart-footer" %}
          </div>
        </side-cart-footer>
      {% endunless %}

    </side-cart-content>
  </side-cart-overlay>
  <side-cart-trigger class="relative flex items-center justify-center w-10 h-10 top-[2px]" data-cart-indicator>
    {% render "icon-cart" %}
    {% if section.settings.show_counter %}
      <div class="absolute px-1 font-bold rounded-full top-0 text-white text-center text-xs right-0.5 bg-accent">
        <span class="relative left-[0.5px] top-[0.5px]">{{ item_count }}</span>
      </div>
    {% endif %}
  </side-cart-trigger>
</tail-side-cart>
<style>
  side-cart-footer {
    box-shadow: 0 -2px 10px 0 #0000000F;
  }
</style>
<script>

  document.addEventListener("scroll", function() {
    if (window.scrollY < 50) {
      document.querySelector("#side-cart").classList.remove("drawer-with-announcement");
    }
  });
</script>

{% schema %}

  {
    "name": "Side cart",
    "class": "shopify-section--mini-cart",
    "settings": [

      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "text",
        "id": "cart_title",
        "label": "Cart title",
        "default": "Panier"
      },
      {
        "type": "checkbox",
        "id": "show_counter",
        "label": "Show counter in picto ?",
        "default": true
      },
      {
        "type": "header",
        "content": "Carousel reasurance"
      }, {
        "type": "checkbox",
        "id": "show_carousel_reassurance",
        "label": "show carousel ?",
        "default": true,
        "info": "Content in the section blocks"
      }, {
        "type": "header",
        "content": "Footer"
      }, {
        "type": "text",
        "id": "validate_text",
        "default": "Commander",
        "label": "Button"
      }, {
        "type": "text",
        "id": "extra_text",
        "default": "🚚 Livraison prévue entre 3 et 6 jours",
        "label": "Extra text"
      }, {
        "type": "text",
        "id": "extra_text_2",
        "default": "Frais de livraison et code promo à l’étape suivante.",
        "label": "Extra text"
      }, {
        "type": "header",
        "content": "Empty cart behavior"
      }, {
        "type": "header",
        "content": "card one"
      }, {
        "type": "checkbox",
        "id": "show_card",
        "default": true,
        "label": "Show card"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "text",
        "id": "label",
        "default": " JUSQU’À -25%",
        "label": "Label"
      }, {
        "type": "text",
        "id": "subtitle",
        "default": "Personnalisez votre pack",
        "label": "Subtitle"
      }, {
        "type": "richtext",
        "id": "title",
        "default": "<p>Économisez jusqu’à -25% en achetant un pack de 3, 4 ou 5 produits.</p>",
        "label": "Text"
      }, {
        "type": "text",
        "id": "cta",
        "label": "Button label",
        "default": "Personnaliser mon pack"
      }, {
        "type": "url",
        "id": "ctaLink",
        "label": "Link "
      }, {
        "type": "header",
        "content": "card two"
      }, {
        "type": "checkbox",
        "id": "show_card_2",
        "default": true,
        "label": "Show card"
      }, {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image"
      }, {
        "type": "text",
        "id": "label_2",
        "default": " JUSQU’À -25%",
        "label": "Label"
      }, {
        "type": "text",
        "id": "title_2",
        "default": "Nos packs",
        "label": "Text"
      }, {
        "type": "text",
        "id": "cta_2",
        "label": "Button label",
        "default": "Personnaliser mon pack"
      }, {
        "type": "url",
        "id": "ctaLink_2",
        "label": "Link "
      }, {
        "type": "header",
        "content": "Up sell"
      }, {
        "type": "text",
        "id": "upSellTitle",
        "label": "Up sell carousel title",
        "default": "Complétez avec..."
      }, {
        "type": "collection",
        "id": "upSellCollection",
        "label": "Up sell collection"
      }
    ],
    "blocks": [
      {
        "type": "reassurances",
        "name": "Reassurances",
        "settings": [

          {
            "type": "text",
            "id": "svg",
            "label": "Image svg",
            "default": "https://cdn.shopify.com/s/files/1/0681/5494/9926/files/lock.svg?v=1674126625"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Image SVG field has to be empty to display this image"
          }, {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Réassurance dynamique"
          }
        ]
      }, {
        "type": "Step",
        "name": "Step",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Label",
            "default": "Label"
          },
          {
            "type": "text",
            "id": "text_before",
            "label": "Text before",
            "default": "Text before"
          },
          {
            "type": "text",
            "id": "text_after",
            "label": "Text after",
            "default": "Text after"
          },
          {
            "type": "number",
            "id": "amount",
            "label": "Step amount",
            "default": 20
          }, {
            "type": "product",
            "id": "product",
            "label": "Free product to add (optional)"
          }
        ]
      }
    ]

  }
{% endschema %}